<section>

		{{ if .IsHome }}
  		{{ with index .Site.Params.banner "home" }}
	  	<div class="headerVideo" id="headerVideo" data-vide-bg="{{ .background }}"></div>
			{{ end }}
		{{ else }}
			{{ with index .Site.Params.banner .Section }}
  		<div class="headerVideo" id="headerVideo" data-vide-bg="{{ .background }}"></div>
	  	{{ end }}
		{{ end }}

	{{ if .IsHome }}
		<div class="cntCabeceraHome">
	{{ else }}
		<div class="cntCabecera">
	{{ end }}

				{{ if .IsHome }}
				<a href="/">
						<img srcset="{{ .Site.BaseURL }}images/responsive/logo-big-osoco-300x136.png 1x,
												 {{ .Site.BaseURL }}images/responsive/logo-big-osoco-450x209.png 1.5x,
												 {{ .Site.BaseURL }}images/responsive/logo-big-osoco-600x278.png 2x,
												 {{ .Site.BaseURL }}images/responsive/logo-big-osoco-900x417.png 3x"
								 src="{{ .Site.BaseURL }}images/logo-big-osoco.png"
								 alt="Logo OSOCO" />
				</a>
				{{ end }}

				{{ if .IsHome }}
  				{{ with index .Site.Params.banner "home" }}
	  			<h1 class="txtCabeceraHomeCita">{{ .claim | markdownify }}</h1>
		  		{{ end }}
				{{ else }}
			  	{{ with index .Site.Params.banner .Section }}
					<h1 class="txtCntCabecera">{{ .claim | markdownify }}</h1>
  				{{ end }}
				{{ end }}

				{{ if .IsHome }}
				<a href="#scrollThere-1" class="btn-scroll scrollLauncher"><span>Conócenos</span></a>
				{{ end }}
		</div>

</section>
