<section>
		{{ if .IsHome }}
		<div class="headerVideo" id="headerVideo" data-vide-bg="{{ .Site.BaseURL }}pelicula-demo-osoco"></div>
		{{ end }}

		<div class="cntCabeceraHome">
				<a href="/">
						<img srcset="{{ .Site.BaseURL }}images/responsive/logo-big-osoco-300x136.png 1x,
												 {{ .Site.BaseURL }}images/responsive/logo-big-osoco-450x209.png 1.5x,
												 {{ .Site.BaseURL }}images/responsive/logo-big-osoco-600x278.png 2x,
												 {{ .Site.BaseURL }}images/responsive/logo-big-osoco-900x417.png 3x"
								 src="{{ .Site.BaseURL }}images/logo-big-osoco.png"
								 alt="Logo OSOCO" />
				</a>

				{{ with .Site.Params.banner.home }}
				<h1 class="txtCabeceraHomeCita">{{ .claim }}</h1>
				{{ end }}

				{{ if .IsHome }}
				<a href="#scrollThere-1" class="btn-scroll scrollLauncher"><span>Conócenos</span></a>
				{{ end }}
		</div>

</section>
