

{{ "<!-- Footer -->" | safeHTML }}
		<footer>
			<div class="footerHablamos">
				<h4 class="txtFooterTitle">¿Hablamos?</h4>
				<a href="" class="txtFooterEmail"><span>hola@osoco.es</span></a>
				<p class="txtFooterLocation1">Avda. Quitapesares, 17</p>
				<p class="txtFooterLocation2">Edificio Ferbocar 1º izq</p>
				<p class="txtFooterLocation3">28670 Villaviciosa de Odón, Madrid, España</p>
				<a href="{{ .Site.BaseURL }}contact" class="btnSecondaryWhite"><span>VER MAPA</span></a>
				<div class="footerSocialIcons">
          {{ with .Site.Params.social.github }}
    			  <a href="https://github.com/{{ . }}" class="txtFooterIcons"><span class="icon-github"></span></a>
          {{ end }}
          {{ with .Site.Params.social.twitter }}
					  <a href="https://twitter.com/{{ . }}" class="txtFooterIcons"><span class="icon-twitter"></span></a>
          {{ end }}
          {{ with .Site.Params.social.vimeo }}
					  <a href="https://vimeo.com/{{ . }}" class="txtFooterIcons"><span class="icon-vimeo"></span></a>
          {{ end }}
          {{ with .Site.Params.social.slideshare }}
					  <a href="https://www.slideshare.net/{{ . }}" class="txtFooterIcons"><span class="icon-slideshare"></span></a>
          {{ end }}
          {{ with .Site.Params.social.linkedin }}
			      <a href="https://www.linkedin.com/company-beta/{{ . }}" class="txtFooterIcons"><span class="icon-linkedin"></span></a>
          {{ end }}
				</div>
			</div>

      {{ with .Site.Params.copyright.notice }}
			<div class="footerLegal">
				<span class="txtFooterLegal">{{ . | markdownify }}</span>
			</div>
      {{ end }}
		</footer>

