{{ "<!-- Header -->" | safeHTML }}
<header class="headerBottom">
		<div class="brand">
				<a href="{{ .Site.BaseURL }}"><img id="logo" src="{{ .Site.BaseURL }}images/logo_osoco.svg" alt="Logotipo OSOCO"></a>
				<div id="navbar-toggle">
						<span class="sr-only">Menú</span>
						<div></div><div></div><div></div>
				</div>
		</div>
		<div class="menu-panel">
				<div class="panel-logo"><img src="{{ .Site.BaseURL }}images/panel-logo.svg" alt="Logotipo OSOCO"></div>
				<div id="language">
		 		    <a href="#">Do you speak english?</a>
				</div>

        {{ $currentPage := .Page }}
				{{ with .Site.Menus.main }}
		 	  <div class="menuPrimary">
		 		    <nav class="menu">
		 			      <ul class="collapsible">
								{{ range . }}
								    <li><a id="itemMenuPrimary-1" href="{{ .URL | absURL }}" class="{{ if eq $currentPage.Section .Identifier}}selected{{ end }}">{{ .Name | upper }}</a></li>
								{{ end }}
								</ul>
						</nav>
				</div>
				{{ end }}

</header>
