{{ "<!-- Manifest -->" | safeHTML }}
<section>
		<article class="containerContent backgroundWhite">
				<div class="divManifiesto">
				    {{ with .Site.Params.manifest.title }}
						<header>
							  <h3 class="txtContentTitle">{{ . | markdownify }}</h3>
						</header>
            {{ end }}
						<div class="txtManifiestoTitle">
							  <ol>
                    {{ $manifestCount := 1 }}
						        {{ range .Site.Params.manifest.statements }}
                    {{ $.Scratch.Add "$manifestCount" 1 }}
								    <li><span>{{ $.Scratch.Get "$manifestCount" }}.-</span>{{ . | markdownify }}</li>
                    {{ end }}
							  </ol>
						</div>

						<div class="containerButton">
							  <a href="{{ .Site.BaseURL }}about" class="btnPrimary"><span>Conócenos</span></a>
						</div>
				</div>
		</article>
</section>
