{{ define "main" }}

	{{ partial "banner" . }}

<section>
		<article class="containerContent noTopPadding">


				<div class="divColCenter backgroundGrey4 half bigBox">

						<div class="divPortfolioWrapper">
								<div class="divPortfolioContainer">
										<div class="divPortfolioPicture" style="background-image:url({{ .Site.BaseURL }}images/portfolio/portfolio-betatesters.jpg);">
										</div>
										<div class="divPortfolioText">

														<img src="{{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h60.png"
																 alt="Logo BBVA" />

												<div class="txtPortfolioDescription">
								  	        <h2>BBVA Centro de Innovación</h2>
														<p >Desarrollo de BBVABetatesters, una aplicación web que gestiona la comunidad de betatesters de aplicaciones, procesos y servicios digitales relacionados con el banco empleando una estrategia de gamificación.</p>
												</div>
										</div>
								</div>
						</div>
				</div>
				<!-- // BBVA -->
				<div class="divColCenter backgroundGrey5 half">

						<div class="divPortfolioWrapper">
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-beyourcar-h60.png"
																 alt="Logo Beyourcar" />
												</div>
												<div  class="txtPortfolioDescription">

														<p>Desarrollo de las <strong>aplicaciones móviles</strong> para la startup BeYourCar: conecta tu coche y tu smartphone para gestionar su mantenimiento, diagnosticar problemas, y mucho más.</p>
												</div>
										</div>
								</div>
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-decathlon-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-decathlon-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-decathlon-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-decathlon-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-decathlon-h60.png"
																 alt="Logo Decthlon" />
												</div>

												<div class="txtPortfolioDescription">

														<p >Desarrollo de <strong>Decathlon Sport Meeting</strong>, una red social para permitir encontrar otras personas con las que practicar tu deporte favorito.</p>
												</div>
										</div>
								</div>
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-kren4-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-kren4-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-kren4-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-kren4-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-kren4-h60.png"
																 alt="Logo Kren4" />
												</div>
												<div class="txtPortfolioDescription">
														<p >Desarrollo de un <strong>servicio en la nube</strong> para la gestión, monitorización y control de plantas de energía renovables.</p>
												</div>
										</div>
								</div>
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-parclick-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-parclick-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-parclick-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-parclick-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-parclick-h60.png"
																 alt="Logo Imserso" />
												</div>
												<div class="txtPortfolioDescription">
														<p >Referente europeo en la reserva de parkings online. Desarrollo de la <strong>aplicación web y backoffice</strong> durante los primeros años de vida de la startup..</p>
												</div>
										</div>
								</div>
						</div>
				</div>

				<!-- // 4 -->

				<div class="divColCenter backgroundGrey5 half">

						<div class="divPortfolioWrapper">
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-rumbo-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-rumbo-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-rumbo-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-rumbo-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-rumbo-h60.png"
																 alt="Logo rumbo" />
												</div>
												<div  class="txtPortfolioDescription">

														<p>Desarrollamos la plataforma de <strong>Backoffice</strong> para gestionar la operativa de reservas, ayudándoles también a introducir nuevas tecnologías y metodologías ágiles a través de un proyecto de misión crítica.</p>
												</div>
										</div>
								</div>
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h60.png"
																 alt="Logo BBVA" />
												</div>

												<div class="txtPortfolioDescription">

														<p >Conceptualización, diseño y desarrollo de los <strong>juegos JUBIGAME y JUBIDREAMS</strong> para educar sobre la importancia del ahorro futuro y los sistemas de jubilación.</p>
												</div>
										</div>
								</div>
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-ventura24-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-ventura24-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-ventura24-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-ventura24-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-ventura24-h60.png"
																 alt="Logo ventura24" />
												</div>
												<div class="txtPortfolioDescription">
														<p ><strong>Consultoría tecnológica</strong> participando junto con el equipo técnico de Ventura24 en el desarrollo de nuevos productos y funcionalidades en múltiples proyectos.</p>
												</div>
										</div>
								</div>
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-plenum-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-plenum-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-plenum-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-plenum-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-plenum-h60.png"
																 alt="Logo plenummedia" />
												</div>
												<div class="txtPortfolioDescription">
														<p >Desarrollo de una <strong>solución</strong> de gestión de clientes (CRM) y <strong>plataforma a medida</strong> para soportar sus procesos de negocio.</p>
												</div>
										</div>
								</div>
						</div>
				</div>

				<!-- // rumbo -->
				<div class="divColCenter backgroundGrey4 half bigBox">

						<div class="divPortfolioWrapper">
								<div class="divPortfolioContainer">
										<div class="divPortfolioPicture" style="background-image:url({{ .Site.BaseURL }}images/portfolio/portfolio-globalia.jpg);">
										</div>
										<div class="divPortfolioText">

														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-globalia-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-globalia-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-globalia-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-globalia-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-globalia-h60.png"
																 alt="Logo Globalia" />

												<p class="txtPortfolioDescription">Participamos en la estrategia de mejora de canales online aplicando un enfoque lean startup. Hemos facilitado inception workshops, evaluado diferentes propuestas de valor y finalmente desarrollado una plataforma completa para soportar el desarrollo ágil de aplicaciones online.</p>

										</div>
								</div>
						</div>
				</div>
				<!-- Globalia -->
				<div class="divColCenter backgroundGrey4 half bigBox">

						<div class="divPortfolioWrapper">
								<div class="divPortfolioContainer">
										<div class="divPortfolioPicture" style="background-image:url({{ .Site.BaseURL }}images/portfolio/portfolio-bkool.jpg);">
										</div>
										<div class="divPortfolioText">

														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-bkool-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-bkool-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-bkool-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-bkool-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-bkool-h60.png"
																 alt="Logo OSOCO" />

												<p class="txtPortfolioDescription">Fuimos el socio tecnológico en los inicios de la startup. Desarrollamos una red social de ciclismo basada en un avanzado sistema de entrenamiento y simulación, junto con una plataforma de análisis.</p>

										</div>
								</div>
						</div>
				</div>
				<!-- bkool -->
				<div class="divColCenter backgroundGrey5 half">

						<div class="divPortfolioWrapper">
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-imserso-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-imserso-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-imserso-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-imserso-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-imserso-h60.png"
																 alt="Logo imserso" />
												</div>
												<div  class="txtPortfolioDescription">

														<p>Durante años fuimos los responsables del desarrollo del <strong>Catálogo de Ayudas Técnicas del CEAPAT</strong> y conseguimos varios premios relacionados con la Accesibilidad de la web.</p>
												</div>
										</div>
								</div>
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-yaap-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-yaap-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-yaap-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-yaap-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-yaap-h60.png"
																 alt="Logo yaap" />
												</div>

												<div class="txtPortfolioDescription">

														<p >Desarrollo de múltiples servicios para sus plataformas online <strong>Yaap Shopping</strong> y <strong>Yaap Money</strong>.</p>
												</div>
										</div>
								</div>
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-panda-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-panda-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-panda-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-panda-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-panda-h60.png"
																 alt="Logo panda" />
												</div>
												<div class="txtPortfolioDescription">
														<p >Diseño y <strong>programación frontend</strong> para una solución de seguridad corporativa en la nube.</p>
												</div>
										</div>
								</div>
								<div class="divPortfolioContainerQuarter backgroundWhite">
										<div class="divPortfolioNoPictureQuarter">
										</div>

										<div class="divPortfolioTextQuarter">
												<div class="logotipo">
														<img srcset="{{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h60.png 1x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h90.png 1.5x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h120.png 2x,
																				 {{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h180.png 3x"
																 src="{{ .Site.BaseURL }}images/portfolio/logos/logo-bbva-h60.png"
																 alt="Logo BBVA" />
												</div>
												<div class="txtPortfolioDescription">
														<p ><strong>Prueba de concepto</strong> que experimenta con la aplicación de nuestras capacidades innatas para la comprensión de un espacio de objetos físicos al análisis de datos masivos y complejos empleando nuevas tecnologías como <strong>Oculus Rift, Google Cardboard o Leap Motion</strong>.</p>
												</div>
										</div>
								</div>
						</div>
				</div>

				<!-- // inserso -->


		</article>
</section>

{{ end }}
