<section class="pt-12 px-4 text-center mt-16 mb-16">
    <div class="max-w-4xl mx-auto mb-8">
        <h2 class="text-4xl leading-tight mb-6 font-heading">Investigate and deploy personalized engagement strategies
            to improve health outcomes</h2>
        <p class="text-gray-500 leading-relaxed">Trusted by leading research and clinical organizations across the
            country</p>
    </div>
    <div class="flex flex-wrap -mx-8">
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/cornell.png" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/nwell.png" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/ucla.png" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/wustl.png" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/chop.jpg" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/penn.png" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/cornell.png" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/nwell.png" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/ucla.png" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/wustl.png" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/chop.jpg" alt="">
        </div>
        <div class="w-1/2 md:w-1/6 px-8 mb-8">
            <img src="images/penn.png" alt="">
        </div>
    </div>
</section>