<div class="w-full md:w-1/3 px-4 mb-12 md:mb-0 mt-12">
    <div class="relative flex flex-col h-full p-8 shadow-md">
        <span class="text-xl mb-3 font-heading text text-center">{{ .Params.study_name }}</span>
        <hr />
        <div class="px-2 py-4 text-center">
            <span
                class="inline-block bg-gray-200 rounded-full mb-2 px-3 py-1 text-sm text-gray-700">{{ .Params.condition }} </span>
            <span class="inline-block bg-gray-200 rounded-full mb-2 px-3 py-1 text-sm text-gray-700">{{ .Params.intervention }}</span>
            <span class="inline-block bg-gray-200 rounded-full mb-2 px-3 py-1 text-sm text-gray-700">{{ .Params.outcome }}</span>
        </div>
        {{ if eq .Params.label "Standard of Care" }}
        <span class="absolute top-0 right-0 text-sm py-1 px-3 -mt-4 -mr-2 text-white font-semibold bg-green-500 rounded-full">{{ .Params.label }} </span>
        {{ else if eq .Params.label "Pilot" }}
        <span class="absolute top-0 right-0 text-sm py-1 px-3 -mt-4 -mr-2 text-white font-semibold bg-pink-500 rounded-full">{{ .Params.label }} </span>
        {{ else if eq .Params.label "Design" }}
        <span class="absolute top-0 right-0 text-sm py-1 px-3 -mt-4 -mr-2 text-white font-semibold bg-orange-500 rounded-full">{{ .Params.label }} </span>
        {{ else }}
        <span class="absolute top-0 right-0 text-sm py-1 px-3 -mt-4 -mr-2 text-white font-semibold bg-indigo-500 rounded-full">{{ .Params.label }}</span>
        {{ end }}
        <img class="rounded shadow-md mb-6" src="{{ .Params.image }}" alt="">
        <div class="flex justify-center pb-3 text-grey-dark text-center border-b">
            {{ with .Params.authors }}
                {{ range first 2 .  }}
                <div class="mr-3 pr-3">
                    <img class="h-16 w-16 rounded-full mx-auto mb-2" src="{{ .authorimage }}"
                        alt="{{ .authorname }} " />
                    <span class="text-sm text-gray-600">{{ .authorname }} </span>
                </div>
                {{ end }}
            {{ end }}

        </div>
        <p class="mt-4 mb-6 text-gray-500 leading-relaxed">{{ .Params.summary }}</p>
        <hr />
        <div class="mt-4">
        {{ if .Params.results }}
            {{ range .Params.results }}
            <div class="pl-3 mb-4">
                <p class="text-md text-gray-700 font-heading"> {{ .result }} </p>
            </div>
            {{ end }}
        {{ else }}
            <div class="pl-3 mb-4">
                <p class="text-md text-gray-700 font-heading text-center"> Outcomes Pending </p>
            </div>
        {{ end }}
        </div>
        {{ if .Params.spotlight }}
        <a class="btn mt-auto text-blue-700 hover:underline text-right" href="{{ .Permalink }} ">Read more</a>
        {{ end }}
    </div>
</div>