<div class="w-full md:w-1/3 px-4 mb-12 md:mb-0 mt-12">
    <div class="relative flex flex-col h-full p-8 shadow-md">
        <span
            class="absolute top-0 right-0 text-sm py-1 px-3 -mt-4 -mr-2 text-white font-semibold bg-indigo-500 rounded-full">Press</span>
        <img class="rounded shadow-md mb-6" src="images/asch.siemens.jpg" alt="">
        <span class="text-xl mb-3 font-heading text">How can the science of motivation help transform care
            delivery?</span>
        <p class="mt-4 mb-6 text-gray-500 leading-relaxed ">What is the role of human behavior in healthcare?
            Looking at both patients and physicians, David Asch discussed at the Siemens Healthineers Executive
            Summit 2019 the science of motivation and the role played by education, rewards (including financial
            incentives), and simple design changes in technology in transforming care delivery.</p>
        <a class="mt-auto text-blue-700 hover:underline text-right" href="# ">Read more</a>
    </div>
</div>