<footer class="mt-24 mb-24">
    <div class="flex flex-wrap items-center py-4 px-4 border-t">
        <div class="w-full lg:w-2/5 mt-4 lg:mt-0 text-left ">
            <a class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 text-sm hover:text-blue-700 " href="# ">Contact</a>
            <a class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 text-sm hover:text-blue-700 " href="# ">Legal &
                Privacy</a>
        </div>
        <div class="w-full lg:w-2/5 text-center lg:text-left ">
            <a class="text-xl text-indigo-500 font-semibold " href="# ">
                <img src="images/logo.name@2x.png " alt="Way to Health " width="150 "></a>
        </div>
        <div class="flex justify-center lg:justify-end w-full lg:w-1/5 my-2 lg:my-0 ">
            <a href="https://twitter.com/PENNWaytoHealth" target="blank"><img class="w-6 h-6" src="images/twitter.svg "
                    alt="twitter link"></a>
            <a href="" target="blank"><img class="w-6 h-6 mx-8 " src="images/linkedin.svg " alt="linked in link"></a>
        </div>
    </div>
    <div class="py-4 text-center ">
        <span class="block md:inline-block mb-4 md:mb-0 mx-3 " href="# ">&copy; 2019 Penn Way to Health</span>
    </div>
</footer>