<footer class="footer">
  <div class="container">
    <p>&copy; 2018 Manchester Homelessness Partnership</p>
    <p><a href="mailto:info@manchesterhomelessnesspartnership.info">Email</a></p>
    <div class="street-support">
      <a href="https://streetsupport.net">
        <svg class="svg-ssn-logo-dims street-support__logo">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/images/svgsprite.svg#ssn-logo"></use>
        </svg>
        <span>Powered by Street Support Network</span>
      </a>
    </div>
  </div>
</footer>
