<div class="w-100 pv3 ph6 flex justify-between-l items-center">

  <img id="logo" src="/mathbrix-logo-tm.png">

  <div>
    <a class="mh3 link mb-blue dim tracked" href="/">Home</a>
    <a id="about" class="mh3 link mb-blue dim tracked" href="#">About</a>
    <a id="features" class="mh3 link mb-blue dim tracked" href="#">Features</a>
    <a class="mh3 link mb-blue dim tracked" href="/pricing">Pricing</a>
    <a id="login" class="mh3 link mb-blue dim tracked" href="#">Login</a>
    <a class="mh3 pv2 ph3 ba bw1 b--red br2 red hover-bg-red bg-animate hover-white no-underline tracked" href="https://teach.mathbrix.com/register">
      Free Trial
    </a>
  </div>

  <ul id="about-dropdown" class="pa0 ma0 list f5">
    <li><a class="link mb-blue dim tracked" href="/team">Team</a></li>
    <li><a class="link mb-blue dim tracked" href="/research">Research</a></li>
    <li><a class="link mb-blue dim tracked" href="/faq">FAQ</a></li>
    <li><a class="link mb-blue dim tracked" href="/news">News</a></li>
  </ul>

  <ul id="features-dropdown" class="pa0 ma0 list f5">
    <li><a class="link mb-blue dim tracked" href="/login-options">Login Options</a></li>
    <li><a class="link mb-blue dim tracked" href="/reports">Reports</a></li>
    <li><a class="link mb-blue dim tracked" href="/games">Games</a></li>
  </ul>

  <ul id="login-dropdown" class="pa0 ma0 list f5">
    <li><a class="link mb-blue dim tracked" href="https://teach.mathbrix.com">Teacher Login</a></li>
    <li><a class="link mb-blue dim tracked" href="https://play.mathbrix.com">Student Login</a></li>
  </ul>

</div>
