<div class="w-100 pv3 ph6 flex justify-between-l items-center">
  <img id="logo" src="/mathbrix-logo-tm.png">
  <div>
    <a class="mh3 link mb-blue dim tracked" href="/">Home</a>
    <a class="mh3 link mb-blue dim tracked" href="/">About</a>
    <a class="mh3 link mb-blue dim tracked" href="/">Features</a>
    <a class="mh3 link mb-blue dim tracked" href="/">Pricing</a>
    <a class="mh3 link mb-blue dim tracked" href="/">Login</a>
    <a class="mh3 pv2 ph3 ba bw1 b--red br2 red hover-bg-red bg-animate hover-white no-underline tracked" href="/">Free Trial</a>
  </div>
</div>
