<!DOCTYPE html>
<html lang="en-GB" itemscope itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#" >
<head>
<title>{{.Title}} - Norwich Energy</title>
<link rel="canonical" href="https://norwichenergy.co.uk/" />
<link rel="profile" href="http://gmpg.org/xfn/11" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en-uk" />
<meta name="description" content="Energy Performance Certificates EPC&#039;s, Floor Plans of Houses and Energy Advice for Home Owners, Landlords and Agents in Norwich and Norfolk." />
<meta name="keywords" content="epc,norwich,norfolk,energy performance certificate,energy certificate,floor plans,energy assessor,domestic energy assessor" />
<meta property="og:title" content="Norwich Energy" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://norwichenergy.co.uk{{ .Permalink }}" />
<meta property="og:image" content="https://norwichenergy.co.uk/images/tony.jpg" />
<meta property="og:site_name" content="Norwich Energy" />
<meta property="og:description" content="Energy Performance Certificates EPC&#039;s, Floor Plans of Houses and Energy Advice" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Norwich Energy" />
<meta name="twitter:description" content="Energy Performance Certificates EPC&#039;s, Floor Plans of Houses and Energy Advice" />
<meta name="twitter:image" content="https://norwichenergy.co.uk/images/tony.jpg" />
<meta itemprop="image" content="https://norwichenergy.co.uk/images/tony.jpg" />

<link href="/css/reset-min.css" media="screen" rel="Stylesheet" type="text/css" />
<link href="/css/norwichenergy.css" media="screen" rel="Stylesheet" type="text/css" />
<link href="/css/nav.css" media="screen" rel="Stylesheet" type="text/css" />

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/js/jquery.lavalamp.min.js"></script>
<script type="text/javascript">
$(function() { $(".bubble").lavaLamp({fx: "backout",speed: 700,click: function(event, menuItem) {return true;}});});
</script>
</head>
<body>
<div id="wrapper">
<div id="header">
<img src="/images/norwichenergylogo.png" alt="Norwich Energy logo" /><br/>
<div id="navigation" class="clear">
<div id="navholder">
<ul class="bubble">
<li class="current"><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/epcs">EPCs</a></li>
<li><a href="/newbuild">New-build</a></li>
<li><a href="/rented">Rented</a></li>
<!-- <li><a href="/energysavingtips">Energy saving tips</a></li> -->
<li><a href="/ethical">Ethical</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
</div>
</div>
<div id="content">