<div class="container mx-auto px-4">
<section class="py-8 px-4">
    <div class="flex flex-wrap items-center text-center lg:text-left mt-24">
        <div class="lg:w-1/2 px-2"><img class="rounded" src="{{ .Params.main_section_image }}" alt="">
            <p class="text-sm text-gray-600 mt-4">{{ .Params.main_section_image_caption }}</p>
        </div>
        <div class="lg:w-1/2 px-2 lg:pl-16 mt-10 lg:mt-0">
            <!-- <h2 class="text-4xl px-4 mb-4 leading-tight font-heading">For Health Systems</h2> -->
            <h2 class="text-3xl px-4 mb-4 leading-tight font-heading sm:text-5xl">Key outcomes</h2>
            {{ with .Params.main_section_blurbs }}
                {{ range .blurbs }}
                <div class="p-4 mb-4 rounded shadow-lg">
                    <h3 class="text-2xl mb-2 font-heading"> {{ .heading }}</h3>
                    <p class="text-gray-600 leading-relaxed">{{ .summary }}</p>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
</div>