<section class="py-12 px-4 mt-24">
    <div class="flex flex-wrap items-center text-center lg:text-left -mx-2">
        <div class="lg:w-1/2 px-2 lg:pl-16 mt-10 lg:mt-0">
            <h2 class="text-4xl mb-6 leading-tight font-heading">Programs developed by and for health systems</h2>
            <p class="text-gray-500 text-xl leading-relaxed">Addressing key issues and outcomes pertinent to hospitals
                and health systems.</p>
            <div class="mt-8">
                <a class="inline-block py-4 px-8 mr-6 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow"
                    href="#">Contact Us</a>
            </div>
        </div>
        <div class="lg:w-1/2 px-2"><img class="rounded" src="images/sindhu.adi.jpg" alt="">
            <p class="text-sm text-gray-500 mt-4">Drs. Sindhu Srinivas and Adi Hirshberg, Materal and Fetal Medicine,
                Penn Medicine</p>
        </div>
    </div>
</section>
<hr class="mt-16 mb-16">
<section class="py-8 px-4">
    <div class="flex flex-wrap -mx-2">
        <div class="lg:w-1/2 px-2 lg:pr-16 mb-6 lg:mb-0">
            <h2 class="text-4xl">Leverage award winning programs to quickly drive outcomes</h2>
        </div>
        <div class="lg:w-1/2 px-2">
            <p class="mb-6 text-gray-700">Why start from scratch when you can leverage pre-built, tested and evidence
                based programs? </p>
            <p class="mb-6 text-gray-700">With rapid implementation times and multiple available customization options
                (messaging content, frequency, languages), you will be able to reap benefits quickly while enhancing
                your relationship with your patients. </p>
        </div>
    </div>
    <div class="flex flex-wrap items-center text-center lg:text-left mt-24">
        <div class="lg:w-1/2 px-2"><img class="rounded" src="images/sindhu.adi.jpg" alt="">
            <p class="text-sm text-gray-500 mt-4">Drs. Sindhu Srinivas and Adi Hirshberg, Materal and Fetal Medicine,
                Penn
                Medicine</p>
        </div>
        <div class="lg:w-1/2 px-2 lg:pl-16 mt-10 lg:mt-0">
            <!-- <h2 class="text-4xl px-4 mb-4 leading-tight font-heading">For Health Systems</h2> -->
            <div class="p-4 mb-4 rounded shadow-lg">
                <h3 class="text-2xl mb-2 font-heading">Reduce readmissions</h3>
                <p class="text-gray-500 leading-relaxed">With the move to value based care (VBC) and increased risk
                    bearing
                    contracts, proven solutions to reduce readmissions is critical. Leverage evidence based models to
                    reduce
                    readmissions in your context. Programs such as Heart
                    Safe Motherhood have shown readmisions reductions from 5% to 1%.</p>
            </div>
            <div class="p-4 mb-4 rounded shadow-lg">
                <h3 class="text-2xl mb-2 font-heading">Increase pre and post procedure adherence</h3>
                <p class="text-gray-500 leading-relaxed">While VBC is important, a significant portion of revenue is
                    still
                    dependent on procedures. Whether it is colonoscopy prep or post joint replacement surgery, programs
                    such as
                    Engaged Recovery After Surgery (ERAS) have been proven
                    and shown to increase adherence while still achieving 80+ Net Promoter Score (NPS) ratings. </p>
            </div>
            <div class="p-4 mb-4 rounded shadow-lg">
                <h3 class="text-2xl mb-2 font-heading">Increase capacity</h3>
                <p class="text-gray-500 leading-relaxed">With evidence based remote monitoring protocols, programs such
                    as CARE
                    have enabled departments to increase capacity by up to 35% while increasing patient NPS ratings to
                    90+ and
                    maintaining quality of service. </p>
            </div>
        </div>
    </div>
</section>