<section class="py-12 px-4">
    <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/3 px-4 mb-12 md:mb-0">
            <div class="relative flex flex-col h-full p-8 shadow-md">
                <span
                    class="absolute top-0 right-0 text-sm py-1 px-3 -mt-4 -mr-2 text-white font-semibold bg-indigo-500 rounded-full">{{ .module_name }}</span>
                <span class="uppercase font-semibold">{{ .subtitle1 }}</span>
                <p class="mt-4 mb-6 text-gray-500 leading-relaxed">{{ .description1 }}
                </p><a class="mt-auto text-blue-700 hover:underline" href="/platform">Learn More</a>
            </div>
        </div>
        <div class="w-full md:w-1/3 px-4 mb-12 md:mb-0">
            <div class="relative flex flex-col h-full p-8 shadow-md">
                <span
                    class="absolute top-0 right-0 text-sm py-1 px-3 -mt-4 -mr-2 text-white font-semibold bg-indigo-500 rounded-full">{{ .module_name }}</span>
                    <span class="uppercase font-semibold">{{ .subtitle2 }}</span>
                <p class="mt-4 mb-6 text-gray-500 leading-relaxed">{{ .description2}}</p>
                <a class="mt-auto text-blue-700 hover:underline" href="/platform">Learn more</a>
            </div>
        </div>
        <div class="w-full md:w-1/3 px-4 mb-12 md:mb-0">
            <div class="relative flex flex-col h-full p-8 shadow-md">
                <span
                    class="absolute top-0 right-0 text-sm py-1 px-3 -mt-4 -mr-2 text-white font-semibold bg-indigo-500 rounded-full">{{ .module_name }}</span>
                <span class="uppercase font-semibold">{{ .subtitle3}}</span>
                <p class="mt-4 mb-6 text-gray-500 leading-relaxed">{{ .description3}} </p>
                <a class="mt-auto text-blue-700 hover:underline" href="/platform">Learn more</a>
            </div>
        </div>
    </div>
</section>