<section class="py-12 px-4 mt-24">
    <div class="flex flex-wrap items-center text-center lg:text-left -mx-2">
        <div class="lg:w-1/2 px-2">
            <img src="{{ .Params.image }}" alt="">
        </div>
        <div class="lg:w-1/2 px-2 pl-10">
            <h2 class="text-5xl mb-6 leading-tight font-heading">{{ .Params.title }}</h2>
            <p class="text-gray-500 text-xl leading-relaxed">{{ .Params.summary }}</p>
            <div class="mt-8">
                <a class="inline-block py-4 px-8 mr-6 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow"
                    href="#">Contact Us</a>
            </div>
        </div>
    </div>
</section>