<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>
      {{ block "title" . }}
        {{ if .Title }}{{ .Title }}{{ else }}{{ $.Site.Title }}{{ end }}
      {{ end }}
    </title>
    {{ if .Description }}<meta name="description" content="{{ .Description }}">{{ end }}
    {{ block "extra-meta" . }}{{ end }}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500">
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>

    <div class="mw9 center">
      {{ block "header" . }}{{ partial "header" . }}{{ end }}
      {{ block "extra-header" . }}{{ end }}
    </div>

    {{ if .Params.fullwidth }}
      {{ block "main" . }}{{ end }}
    {{ else }}
      <div class="mw9 center">
        {{ block "main" . }}{{ end }}
      </div>
    {{ end }}

    <div class="mw9 center">
      {{ block "footer" . }}{{ partial "footer" . }}{{ end }}
      {{ block "extra-footer" . }}{{ end }}
    </div>

    <script src="app.js"></script>
    {{ template "_internal/google_analytics_async.html" . }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!--
    Redirect user to the admin page when they log in with Netlify
    https://www.netlifycms.org/docs/add-to-your-site/#add-the-netlify-identity-widget
    -->
    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

  </body>
</html>
