<!doctype html>
<html class="no-js single" lang="en-GB" xmlns:fb="http://ogp.me/ns/fb#">
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <main id="main">
    <section class="block">
        <div 
          {{ if (eq .Params.content.image nil) }} class="block__image block__image--bg block__image--bg-missing-image"
          {{ else }} class="block__image block__image--bg" {{ end }}
          {{ if (ne .Params.content.image nil) }} style="background-image: url({{ .Params.content.image }})" {{ end }}
        >
          <div class="container">
            <header class="block__header">
              <h1 class="block__header-title">{{ .Params.content.heading }}</h1>
              {{ if (ne .Params.content.subHeading nil) }}
              <p class="block__header-sub-title">{{ .Params.content.subHeading }}</p>
              {{ end }}
            </header>
          </div>
        </div>
        <div class="container">
          <div class="block__body block__body--drop-shadow">
            {{ $bodyMarkdown := .Params.content.body | markdownify }}
            {{ if not ( strings.Contains $bodyMarkdown "<p>" ) }}<p>{{ $bodyMarkdown }}</p>
            {{ else }}{{ $bodyMarkdown }}{{ end }}
          </div>
        </div>
    </section>
  </main>
  {{ $footer := .Site.GetPage "_footer.md" }}
  {{ partial "footer.html" (dict "footer" $footer) }}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
