{{ partial "header" . }}

{{ partial "splash-right" . }}

<div class="bg-indigo-100">
    {{ partial "leftimage-3textboxes" . }}
</div>

{{ partial "text-left" . }}

{{ $n1 := where .Site.Pages "Section" "projects" }}
{{ $n2 := where (where .Site.Pages "Section" "projects") ".Params.solution_area" "Womens Health" }}
{{ $n3 := where (where .Site.Pages "Section" "projects") ".Params.solution_area" "Surgery Solutions" }}
{{ $n4 := where (where .Site.Pages "Section" "projects") ".Params.solution_area" "QI" }}

{{ $womenshealth := $n1 | intersect $n2 }}
{{ $surgery := $n1 | intersect $n3 }}
{{ $qi := $n1 | intersect $n4 }}

<div class="container mx-auto px-4">
{{ with  .Params.solutions }}
    {{ range  .solution }}
        <section class="py-8 px-4 pt-16 pb-16" id="{{ .id }}">
            <!-- <hr class="pt-16 pb-16"></hr> -->
            <h2 class="text-4xl text-center mb-4 font-heading">{{ .name }}</h2>
            <p class="max-w-2xl mb-8 mx-auto text-center text-gray-500 leading-relaxed"> {{ .description }}</p>
            <div class="flex flex-wrap -mx-4">
                {{ if eq .name "Womens Health" }}
                    {{ range first 3 $n2 }}
                        {{ partial "case-summary" . }}
                    {{ end }}
                {{ else if eq .name "Surgery Solutions" }}
                    {{ range first 3 $n3 }}
                        {{ partial "case-summary" . }}
                    {{ end }}
                {{ else }}
                    {{ range first 3 $n4 }}
                        {{ partial "case-summary" . }}
                    {{ end }}
                {{end }}
            </div>
        </section>
    {{ end }}
{{ end }}
</div>

<div class="bg-indigo-100">
    {{ with .Params.modules_leadin }}
        {{ partial "text-left-noparams" . }}
    {{ end }}

    {{ partial "modules-bottomold" . }}

    {{ with .Site.GetPage "section" "platform" }}
        {{ range first 1 .Params.modules.module }}
            {{ partial "modules-bottom" . }}
        {{ end }}
    {{ end }}
</div>
{{ partial "footer" . }}