{{ define "extra-meta" }}
{{ partial "smart-app-banner" }}
{{ end }}

{{ define "extra-header" }}

<div class="dn db-l mh6 pa2 bt bb b--moon-gray">
  <a class="mr3 mb-blue no-underline dim" href="/games/#kindergarten">Kindergarten Games</a>
  <a class="mh3 mb-blue no-underline dim" href="/games/#1st-grade">1st Grade Games</a>
  <a class="mh3 mb-blue no-underline dim" href="/games/#2nd-grade">2nd Grade Games</a>
</div>

{{ end }}

{{ define "main" }}

{{ partial "what-is-mathbrix" }}

<div class="pv4 ph3 ph5-ns ph6-l mid-gray">

  <h1 class="mt0 f3 f2-ns normal ttu tracked black">Math Games</h1>

  {{ range $.Site.Data.games._index }}

    {{ $gradeData := index (where $.Site.Data.grades "alternate_name_2" .grade) 0 }}

    <h2 id="{{ urlize .grade }}" class="f3 f2-ns normal red">{{ .grade }} Games</h2>

    <p class="w-100 w-80-l mt0 f5 f4-ns lh-copy">{{ $gradeData.full_description }}</p>

    {{ range .categories }}

      <h3 class="f4 f3-ns">
        <a class="mid-gray no-underline dim" href="/skills/{{ urlize .name }}">{{ .name }}</a>
      </h3>

      <div class="flex flex-wrap">
        {{ range .games }}
          <div class="pa3 tc">
            <a class="color-inherit no-underline" href="{{ .url }}">
              <img class="w5 ba bw1 b--orange" src="/games/{{ .image }}.jpg" alt="{{ .name }} Math Game">
              <p class="w5 mt1">{{ .name }}</p>
            </a>
          </div>
        {{ end }}
      </div>

    {{ end }}

  {{ end }}

</div>

{{ end }}
