{{ define "main" }}

<div class="pv4 ph3 ph5-ns ph6-l mid-gray">

  {{ range $.Site.Data.games }}

    <h2 class="f3 f2-ns normal ttu tracked black">{{ .grade }} Games</h2>

    {{ range .categories }}

      <h3 class="f4 f3-ns">{{ .name }}</h3>

      <div class="flex flex-wrap">
        {{ range .games }}
          <div class="pa3 tc">
            <a class="color-inherit no-underline" href="/math-games/{{ .verboseSlug }}">
              <img class="w5 ba bw1 b--orange" src="/games/{{ .slug }}.png" alt="{{ .name }} Math Game">
              <p class="w5 mt1">{{ .name }}</p>
            </a>
          </div>
        {{ end }}
      </div>

    {{ end }}

  {{ end }}

</div>

{{ end }}
