.home-hero {
  color: white;
  padding: 155px 10px 10px;
  background-size: 100%;
  position: relative; }

.home-hero__logo {
  width: 110px;
  height: 110px; }

.home-hero__title-first {
  display: block; }
