{{ define "header" }}
<!--Header-->
{{ end }}

{{ define "main" }}

<div class="pv4 ph3 ph5-ns ph6-l mid-gray">

  <h1 class="mt0 f3 f2-ns normal ttu tracked black">Terms of Test</h1>

  <h3 class="mt4 f5 f4-ns">
    MATHBRIX&trade; END USER AGREEMENT
  </h3>

  <p class="f5 f4-ns fw3 lh-copy">
    For good and valuable consideration, the receipt and sufficiency of which
    are hereby acknowledged, MathBRIX&trade; and Participant agree as follows:
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Subject to, and conditioned upon Participant’s compliance with, the terms
    of this Agreement, MathBRIX&trade; grants to Participant a non-exclusive,
    limited license to access and use the MathBRIX&trade; platform (the
    “Platform”) and the associated classroom materials (the “Materials”) during
    a 30-day Trial Subscription Term solely for evaluation and educational
    purposes. The MathBRIX&trade; platform with its games and activities are
    licensed (not sold) to Participant free of charge during the Trial
    Subscription Term. The license granted in this Section 1 extends only to
    Participant and his or her students who are registered to use the Platform
    and Materials, not to students in other classrooms or any third party.
  </p>

  <ol class="pl3 pl4-ns f5 f4-ns fw3 lh-copy">
    <li class="mb3">
      Participant acknowledges and agrees that a BETA version of the Platform
      is being provided for evaluation purposes. To that end, Participant
      agrees to (a) provide each registered student with access to the Platform
      at least 15 minutes per day, no less than 2 days per week during the
      Trial Subscription Term, and (b) provide any feedback and/or criticism
      regarding the Platform and/or Materials directly to MathBRIX&trade;, and
      not to any third party. Neither party may publicly refer to the other
      orally, in writing, or on its website or in its sales materials as a
      service provider or Participant, as applicable, or use the other party’s
      logo on its website or otherwise, without the other party’s prior written
      consent (an email will suffice).
    </li>
    <li class="mb3">
      The term of this Agreement (the “Trial Subscription Term”) shall begin
      upon the Effective Date and, unless terminated as provided herein,
      continue until June 1, 2018, provided that any Participant who registers
      to use the Platform or who is permitting his or her students to use the
      Platform (a) completes a total of six questionnaires during the three (3)
      months of the Trial Subscription Term, and (b) participates in an online
      exit interview.
    </li>
    <li class="mb3">
      Participant may terminate his or her Trial Subscription Term at any time
      and for any reason (or for no reason) by giving notice thereof to
      MathBRIX&trade;, and such termination shall be effective on the date such
      notice is given. MathBRIX&trade; may terminate Participant’s Trial
      Subscription Term at any time and for any reason (or for no reason) by
      giving notice thereof to Participant, and such termination shall be
      effective on the date such notice is given. Upon the termination of
      Participant’s Trial Subscription Term, Participant agrees to immediately
      cease using the Platform and Materials, and immediately delete and
      destroy all copies of the Materials then in his or her possession or
      under his or her control.
    </li>
    <li class="mb3">
      Participant agrees not to, without first obtaining MathBRIX&trade;’s
      express written permission, (i) copy, distribute, or create derivative
      works based on the Platform or the Materials, (ii)  modify, reverse
      engineer, translate, disassemble, enable disabled features, or decompile
      any software accessible through the Platform, and not to insert any code
      or product or manipulate the Platform in any way that affects the user’s
      experience including, without limitation, taking any action that imposes,
      or may impose, an unreasonable or disproportionately large load on the
      Platform, (iii) remove any title, trademark, copyright, and/or restricted
      rights notices or labels on the Platform or Materials, (iv) rent, lease,
      assign, lend, distribute, or sublicense the Platform or Materials, and/or
      (v) use the Platform in any manner that is illegal or impairs the
      operation of the Platform or its availability or usage by others.
      Participant further agrees not to use any data mining, web crawlers,
      robots, cancelbots, spiders, Trojan horses, or any data gathering or
      extraction method in connection with the use of the Platform.
    </li>
    <li class="mb3">
      Participant agrees not to enter or use the Platform for any purpose that
      is not expressly permitted by the terms of this Agreement or the
      Materials, or is otherwise unlawful, and agrees not to use or access, or
      attempt to use or access, any portion of the Platform for which
      Participant is not intentionally given access to by MathBRIX&trade;.
      Participant agrees to comply with all applicable laws regarding his or
      her use of the Platform.
    </li>
    <li class="mb3">
      Participant agrees to provide only true, accurate, current, and complete
      information and agrees that no student should be personally identifiable.
      Participant represents and warrants that he or she is specifically
      authorized to provide such information to MathBRIX&trade; so that
      MathBRIX&trade; may use, process, and transfer such personally
      identifiable information. MathBRIX&trade; shall not have any obligation
      to provide any upgrades, updates, patches, corrections, changes,
      enhancements, or modifications to the Platform or Materials
      (collectively, “Updates”) or to otherwise correct any errors or defects
      in the Platform and/or Materials. However, any Updates that are made
      available to Participant by MathBRIX&trade; during the Trial Subscription
      Term shall be considered, as applicable, the Platform and/or Materials
      for purposes of this Agreement.
    </li>
    <li class="mb3">
      The Platform and Materials are provided on an “AS IS” basis, without any
      representations or warranties. TO THE EXTENT PERMITTED BY APPLICABLE LAW,
      MATHBRIX&trade; HEREBY DISCLAIMS ANY AND ALL WARRANTIES AND/OR
      REPRESENTATIONS, WHETHER EXPRESS, IMPLIED, ORAL, OR WRITTEN INCLUDING,
      WITHOUT LIMITATION, ANY AND ALL IMPLIED WARRANTIES OF MERCHANTABILITY,
      REASONABLE CARE, AND/OR FITNESS FOR A PARTICULAR PURPOSE (WHETHER OR NOT
      MATHBRIX&trade; KNOWS, HAS REASON TO KNOW, HAS BEEN ADVISED, OR IS
      OTHERWISE IN FACT AWARE OF ANY SUCH PURPOSE), IN EACH INSTANCE WITH
      RESPECT TO THE PLATFORM AND THE MATERIALS. MATHBRIX&trade; FURTHER
      DISCLAIMS ANY AND ALL WARRANTIES AND/OR REPRESENTATIONS OF TITLE AND
      NON-INFRINGEMENT WITH RESPECT TO THE PLATFORM AND THE MATERIALS.
    </li>
    <li class="mb3">
      TO THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL
      MATHBRIX&trade; BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, OR
      CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THIS
      AGREEMENT, THE PLATFORM, OR THE MATERIALS, EVEN IF MATHBRIX&trade; IS OR
      WAS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. In all events, to the
      maximum extent allowed by law, MATHBRIX&trade;’s aggregate liability for
      claims relating to this Agreement, the Platform, and/or the Materials
      shall be limited to $10.
    </li>
    <li class="mb3">
      This Agreement, and any additional terms and/or conditions provided by
      MathBRIX&trade; to Participant along with any Update, constitute the
      complete and final agreement and understanding between the parties with
      respect to the subject matter hereof, and supersede and merge all prior
      and contemporaneous agreements, negotiations, and understandings between
      the parties, both oral and written, with respect to the subject matter
      hereof. This Agreement, and all matters arising out of or relating to
      this Agreement, shall be governed by the laws of the State of Missouri
      and the United States, without giving effect to the conflict of law
      provisions thereof and excluding any application of the United Nations
      Convention on Contracts for the International Sale of Goods. The Uniform
      Computer Information Transactions Act or any version thereof, adopted by
      any state in any form (“UCITA”) shall not be applicable to this
      Agreement, and, to the extent that UCITA is applicable, the parties shall
      be deemed to opt-out of the applicability of UCITA. Participant consents
      to exclusive jurisdiction and venue in federal courts sitting in St.
      Louis, Missouri; if no federal subject matter jurisdiction exists,
      Participant consents to exclusive jurisdiction and venue in state courts
      sitting in St. Louis County, Missouri. Neither this Agreement nor any of
      the rights or obligations hereunder may be assigned by Participant
      without MathBRIX&trade;’s prior written consent. MathBRIX&trade; may
      assign, transfer, delegate, or subcontract its rights and obligations, in
      whole or in part, without Participant’s consent. Subject to the
      foregoing, this Agreement shall be binding upon, inure to the benefit of,
      and be enforceable by the parties and their respective successors and
      permitted assigns. Participant shall not export or re-export the Platform
      into any country or use the Platform in any manner prohibited by any
      export laws, restrictions or regulations.
    </li>
  </ol>

</div>

{{ end }}

{{ define "footer" }}
<!--Footer-->
{{ end }}
