@import url("imports/reset.css");

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Cantarell', 'Droid Sans', 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    width: 99.9%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #282c34;
    color: white;
}

a {
    color: pink;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

input[type="range"] {
    height: 0;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.content {
    width: 100%;
    padding: 0;
}

.content main, .content * p {
    width: 100%;
}

.content * .container * {
    image-rendering: optimizespeed !important;
}

.content * .container.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
}

.content * .r-data pre {
    display: block;
    display: -webkit-box;
    max-width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}

.content * img {
    margin-top: 	-2px;
    margin-bottom: 	-1px;
}

.content *.right img {
    float:			right;
}

.content * .r-mapping img {
    float:			none;
    margin:         auto;
    width:			100%;
}

div[role="main"] p:first-child {
    height: 0;
    max-height: 0;
}

.section {
    width: 100%;
}

pre {
    /*width: 72.5%;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background: rgba(66, 66, 66, 0.5);
}

pre code {
    font-family: 'Fira Code', 'Consolas', 'Droid Sans Mono', monospace;
    max-width: 1024px;
    word-wrap: break-word;
}

.controls {
    position: absolute;
    margin: -50% 8px 8px 0px;
    color: #282c34;
    width: 300px;
    padding: 1em;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    border-radius: 2px;
    z-index: 2;
}

.controls.right {
    float: right;
    left: 70vw;
}

.controls.fullscreen {
    position: fixed;
    left: auto;
    right: 0;
    margin-top: 0;
}

.controls label {
    clear: both;
    margin: 2px;
}

.controls label input[type="color"] {
    clear: both;
    margin: 10px 100px 10px;
}


@media screen and (max-width: 604px) {

    pre {
        width: 100%;
    }

    .controls {
        position: relative;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .controls.right {
        position: relative;
        float: none;
        left: auto;
    }

}
