{{ define "main" }}

<div class="w-90-m w-80-l center ph3 ph6-l pv4 mid-gray">

  <h1 class="mt0 f3 f2-ns normal ttu tracked black">Game-Based Learning with MathBRIX</h1>

  <p class="f5 f4-ns fw3 lh-copy">
    Using games to teach and practice skills is a technique as old as recorded
    history. Chess was used as far back as the Middle Ages to teach strategy.
    Invented by Hindu spiritual leaders in the 13th century, the game Snakes
    and Ladders,
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://www.fractuslearning.com/history-board-games-guide/">originally called Mokshapat</a>,
    was designed to help children understand the effects of good and bad deeds.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Fast forward a few centuries filled with mind-blowing technological
    advances and children began using digital games as educational tools.
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://www.usgamer.net/articles/the-oral-history-of-oregon-trail">The Oregon Trail</a>
    was first released in late 1971 and was designed specifically
    to teach children about pioneer life. With these games, and countless
    others through the ages, children were engaged, focused, and learning.
    Game-based learning is nothing new but today’s educational platforms are
    designed with the modern student in mind.
  </p>

  {{ partial "pixabay-image" (dict "imagePath" "/game-based-learning/children-celebrating-playing-computer-game.jpg" "imageTitle" "Children celebrating while playing computer game" "pixabayId" "startupstockphotos-690514" "pixabayUser" "StartupStockPhotos") }}

  <h2 class="f4 f3-ns">Games-Based Learning is Fun, Safe, and Fosters Effective Failure</h2>

  <p class="f5 f4-ns fw3 lh-copy">
    Games rely on repetition, failure, and clear goals to teach and practice
    skills but the main reason they work is because they are fun! A survey by
    NPD found that
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://www.digitaltrends.com/computing/91-percent-of-kids-play-video-games-says-study/">91% of American kids play video games</a>
    and that number is on the rise, especially among the 2-5 year old set. Kids
    don’t play video games because they learn from them but learning because of
    them is a force that educators have been tapping into for decades.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    When kids start playing a new video game, they start slow and learn the
    necessary skills needed to achieve objectives. As their skills improve,
    they level up, reaching for goals that are increasingly harder to attain.
    Kids show grit, fortitude, and ingenuity as they continue playing against
    harder and harder challenges. They are engaged and active in learning the
    game and that knowledge sticks when they approach the game the next time
    around.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    This grit, fortitude, and ingenuity transfers beautifully into an
    educational format. The fact that players are engaged and active working
    toward a specifically designed learning objective means that kids retain
    more and are driven to play. This starts a positive cycle of learning and
    practicing, again and again.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Video games offer a safe environment for kids to try new skills and
    strategies without the pressure sometimes felt in a more traditional
    pencil-to-paper method. They don’t feel like they are being graded and are
    free from the fear of failing in front of their classmates. Game-based
    learning allows children to fail in an effective way. The very act of
    failing helps them understand that they made a mistake and that they have
    to correct that mistake in order to progress in the game. Learning from our
    mistakes is a priceless life skill that this effective failure quality of
    game-based learning fosters in students.
  </p>

  <h2 class="mt0 f4 f3-ns">Game-Based Learning Adapts with Society and the Learner</h2>

  <p class="f5 f4-ns fw3 lh-copy">
    We are living in the technological wild west. In order to make students
    future ready, we have to give them
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://www.mathbrix.com/blog/effective-technology-use-math-class/">access to modern learning tools</a>
    that are reflective of current research, standards, and methodologies.
    Game-based learning is one of the critical components of that picture.
    Although still in use, more and more publishers are moving towards digital
    publication of textbooks and supporting materials. It makes perfect sense.
    Printed textbooks take a great deal of time to write, print, and distribute
    to schools. The result is that information is sometimes outdated before the
    students even begin using the material. Digital formats, of textbooks or
    educational games, are adaptive to society. They can be updated to
    incorporate new information, strategies, standards, and research.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Game-based learning is adaptive to the individual learner as well. With a
    user profile, a player is tracked so that the platform delivers game
    content at the appropriate level. Further, objectives can often be tailored
    to the student’s needs as determined by the teacher or parent. Progress and
    goal achievement is readily available so that all necessary parties have
    access to a wealth of data to better serve the student.
  </p>

  <h2 class="mt0 f4 f3-ns">Games for Every Learner and Every Lesson</h2>

  <p class="f5 f4-ns fw3 lh-copy">
    Game-based learning platforms are often categorized in one of two ways:
    short-form or long-form. Short-form games are designed and played to
    practice a particular skill and can be completed in a short period of time.
    Long-form games are research based and aligned with state and national
    standards. They are meant to be played repeatedly as a student progresses
    through the learning objectives. High quality educational games meet the
    student at their level rather than offering a one-size-fits-all approach.
  </p>

  {{ partial "pixabay-image" (dict "imagePath" "/game-based-learning/abacus.jpg" "imageTitle" "Colorful childrens' abacus" "pixabayId" "pexels-2286921" "pixabayUser" "Pexels") }}

  <h2 class="f4 f3-ns">MathBRIX Brings Game-Based Learning to Early Math</h2>

  <p class="f5 f4-ns fw3 lh-copy">
    MathBRIX is a digital math platform that offers learners aged 4-8 years old
    fun, but challenging games for hours of engagement. Designed to be played
    solo, students find themselves in a safe environment where they can try out
    newly attained skills. Failure is merely the opportunity to try again,
    fostering grit, determination, and the valuable life skill of learning from
    mistakes.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    MathBRIX is completely adaptive, giving players just the right amount of
    challenge to suit their experience. If they are struggling, MathBRIX will
    slow things down. If they are racing ahead, MathBRIX will pick up the pace.
    Intelligent scaffolding means that every learner gets what they need, when
    they need it.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Aligned with Common Core, the National Council of Teachers of Mathematics,
    and the Texas Essential Knowledge and Skills (TEKS) standards, MathBRIX is
    a long-form digital learning platform that works well in classrooms and at
    home. Perfect for a learning center rotation or for a few extra minutes of
    fun,
    <a class="mb-blue no-underline bb dim" href="https://www.mathbrix.com/conceptual-math">conceptual learning</a>
    at home, MathBRIX is a great complement to any modern math curriculum.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Games have been used by educators and parents for generations as a means to
    an educational end. Tapping into the undeniably engaging aspect of video
    games to help students learn or practice skills is a method widely used in
    today’s classroom. Game-based learning is effective, adaptive, and most of
    all, <i>fun</i> for students of every kind.
  </p>

</div>

{{ end }}
