{{ if or ( .Site.Params.twitter ) ( .Site.Params.facebook ) ( .Site.Params.instagram ) ( .Site.Params.googleplus ) ( .Site.Params.github ) ( .Site.Params.gitlab ) ( .Site.Params.npm ) ( .Site.Params.codepen ) ( .Site.Params.dribbble ) ( .Site.Params.fivehundredpx ) ( .Site.Params.flickr ) ( .Site.Params.pinterest ) ( .Site.Params.tumblr ) ( .Site.Params.vimeo ) ( .Site.Params.youtube ) ( .Site.Params.linkedin ) }}
<ul class="c-links">
  {{ with .Site.Params.twitter }}
  <li class="c-links__item">
    <a href="https://twitter.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>twitter</title>
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.facebook }}
  <li class="c-links__item">
    <a href="https://facebook.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>facebook</title>
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.instagram }}
  <li class="c-links__item">
    <a href="https://instagram.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>instagram</title>
        <use xlink:href="#icon-instagram"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.googleplus }}
  <li class="c-links__item">
    <a href="{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>googleplus</title>
        <use xlink:href="#icon-google-plus"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.github }}
  <li class="c-links__item">
    <a href="https://github.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>github</title>
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.gitlab }}
  <li class="c-links__item">
    <a href="https://gitlab.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>gitlab</title>
        <use xlink:href="#icon-gitlab"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.npm }}
  <li class="c-links__item">
    <a href="https://www.npmjs.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>npm</title>
        <use xlink:href="#icon-npm"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.codepen }}
  <li class="c-links__item">
    <a href="https://codepen.io/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>codepen</title>
        <use xlink:href="#icon-codepen"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.dribbble }}
  <li class="c-links__item">
    <a href="https://dribbble.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>dribbble</title>
        <use xlink:href="#icon-dribbble"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.fivehundredpx }}
  <li class="c-links__item">
    <a href="https://500px.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>500px</title>
        <use xlink:href="#icon-500px"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.flickr }}
  <li class="c-links__item">
    <a href="https://www.flickr.com/photos/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>flickr</title>
        <use xlink:href="#icon-flickr"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.pinterest }}
  <li class="c-links__item">
    <a href="https://www.pinterest.jp/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>pinterest</title>
        <use xlink:href="#icon-pinterest"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.tumblr }}
  <li class="c-links__item">
    <a href="https://www.tumblr.com/blog/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>tumblr</title>
        <use xlink:href="#icon-tumblr"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.vimeo }}
  <li class="c-links__item">
    <a href="https://vimeo.com/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>vimeo</title>
        <use xlink:href="#icon-vimeo"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.youtube }}
  <li class="c-links__item">
    <a href="https://www.youtube.com/user/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>youtube</title>
        <use xlink:href="#icon-youtube"></use>
      </svg>
    </a>
  </li>
  {{ end }}
  {{ with .Site.Params.linkedin }}
  <li class="c-links__item">
    <a href="https://linkedin.com/in/{{ . }}" target="_blank">
      <svg viewBox="0 0 64 64" class="c-links__icon">
        <title>linkedin</title>
        <use xlink:href="#icon-linkedin"></use>
      </svg>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
