{{ define "extra-meta" }}
{{ partial "smart-app-banner" }}
{{ end }}

{{ define "main" }}

<div class="pt4 ph3 ph5-ns ph6-l mid-gray">

  <div class="mb4 f5 f4-ns">
     <a class="mb-blue dim no-underline" href="/games">&larr; All math games by grade level</a>
  </div>

  <h1 class="mt0 f3 f2-ns normal ttu tracked black">{{ .Params.pagetitle }}</h1>

  <p class="w-100 w-80-l mt0 f5 f4-ns lh-copy">{{ .Description }}</p>

</div>

{{ $gradeData := index (where $.Site.Data.games._index "grade" .Params.alternatename2) 0 }}

<!--
Figure out where the halway point is in the list of categories so we can place
the first "What is MathBRIX" section. If the categories list is an odd-numbered
length, put the section right before the halfway entry.
-->
{{ $halfway := sub (math.Floor (div (len $gradeData.categories) 2)) 1 }}

{{ range $index, $cat := $gradeData.categories }}

  <div class="mt4 mb3 ph3 ph5-ns ph6-l mid-gray">

    <h2 class="flex items-center f3 f2-ns normal">
      <a class="red no-underline dim" href="/skills/{{ urlize .name }}">{{ $cat.name }}</a>
      <img class="ml2 w1" src="/link.svg">
    </h2>

    <div class="flex flex-wrap">
      {{ range $cat.games }}
        <div class="pa3 tc">
          <a class="color-inherit no-underline" href="{{ .url }}">
            <img class="w5 ba bw1 b--orange" src="/games/thumbnails/{{ .image }}.jpg" alt="{{ .name }} Math Game">
            <p class="w5 mt1">{{ .name }}</p>
          </a>
        </div>
      {{ end }}
    </div>

  </div>

  {{ if eq (int $index) (int $halfway) }}
    {{ partial "what-is-mathbrix" }}
  {{ end }}

{{ end }}

{{ partial "what-is-mathbrix" }}

{{ end }}
