{{ define "main" }}

<div class="pv4 ph3 ph5-ns ph6-l mid-gray">

  <h1 class="mt0 f3 f2-ns normal ttu tracked black">News</h1>

  <div class="flex flex-wrap">

    <div class="w-100 w-20-l pr4">
      <img class="w-100 mb4" src="/software-and-information-industry-association.jpg">
      <img class="w-100 mb4" src="/national-school-boards-association.jpg">
      <img class="w-100 mb4" src="/iste-2017.jpg">
      <img class="w-100 mb4" src="/accelerate-st-louis-challenge.jpg">
      <img class="w-100" src="/ies-game-expo.jpg">
    </div>

    <div class="w-100 w-80-l">

      <div class="mt5 mt0-l f5">June 2018</div>
      <h3 class="f4 f3-ns tracked">
        THE SOFTWARE & INFORMATION INDUSTRY ASSOCIATION NAMES MATHBRIX AS "A
        STARTUP TO WATCH"
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        MathBRIX Co-Founder/COO, Tyler Schwartz, demonstrated our product to
        investors and industry leaders at The Conference in San Francisco. The
        SIIA is the principal trade association for the software and digital
        content industry. Its Education Division serves and represents more
        than 180 member companies that provide software, digital content and
        other technologies that address educational needs. The Division shapes
        and supports the industry by providing leadership, advocacy, business
        development opportunities and critical market information.
      </p>

      <div class="f5">June 2018</div>
      <h3 class="f4 f3-ns tracked">NATIONAL SCHOOL BOARDS JOURNAL: DREAMERS WHO DO</h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        Throughout history, authors, entrepreneurs, and inventors have shared
        their thoughts on innovation, a concept often defined as the
        intersection of creativity and technology. Those elements are at the
        heart of the solutions developed by companies selected for the National
        School Boards Association’s annual Technology Innovation Showcase. Read
        full article
        <a class="fw3 mb-blue no-underline bb dim" href="https://www.nsba.org/newsroom/american-school-board-journal/asbj-june-2018/dreamers-who-do">here</a>.
      </p>

      <div class="f5">April 2018</div>
      <h3 class="f4 f3-ns tracked">
        MATHBRIX ONE OF SIX STARTUPS SELECTED BY THE NATIONAL SCHOOL BOARDS
        ASSOCIATION (NSBA)
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        MathBRIX Co-Founder/COO, Tyler Schwartz, recently presented at the
        NSBA’s national conference to a packed room. "NSBA has worked at the
        intersection of education technology policy and practice for more than
        three decades to bring entrepreneurs, school board members and district
        leaders together to discuss innovative solutions that can support
        public education," said Thomas J. Gentzel, NSBA Executive Director &
        CEO. Read the NSBA press release
        <a class="fw3 mb-blue no-underline bb dim" href="https://www.nsba.org/newsroom/press-releases/nsba-announces-2018-education-technology-innovation-showcase">here</a>.
      </p>

      <div class="f5">October 2017</div>
      <h3 class="f4 f3-ns tracked">
        PARENTS AS TEACHERS NATIONAL CENTER PARTNERS WITH MATHBRIX TO DEVELOP
        LEARNING MATERIALS FOR PARENT AND CHILD TOGETHER
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        "This new partnership will give Parents as Teachers and Mathbrix a
        unique opportunity to provide thousands of parents visual and hands-on
        ways to build their child’s math foundations, right from the start,"
        Constance Gully, president and CEO of Parents as Teachers National
        Center, said in a statement. "With Mathbrix's technology, our programs
        can be extended exponentially. We can reach tens of thousands of
        families in addition to those served by our evidence-based home
        visiting model." Read full article
        <a class="fw3 mb-blue no-underline bb dim" href="https://www.bizjournals.com/stlouis/news/2017/10/24/parents-as-teachers-partners-with-local-startup-on.html">here</a>.
      </p>

      <div class="f5">September 2017</div>
      <h3 class="f4 f3-ns tracked">
        STL REGIONAL CHAMBER TAKES MATHBRIX TO TECHCRUNCH DISRUPT
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        When the St. Louis Startup Roadshow landed in New York, Chicago and San
        Francisco in September, local  startups weren’t sure what to expect.
        The Roadshow, hosted by the St. Louis Regional Chamber with Accelerate
        St. Louis, Ernst & Young, Southwest Airlines, Thomson Reuters and
        T-REX, took some of St. Louis’ most promising technology startups to
        private events in New York and Chicago and TechCrunch Disrupt - San
        Francisco. Are investors interested in St. Louis startups? The answer:
        a resounding yes. Read full article
        <a class="fw3 mb-blue no-underline bb dim" href="http://www.stlregionalchamber.com/blog-post/chamber-blog/2017/10/24/st.-louis-startup-roadshow-means-business-for-st.-louis-startups">here</a>.
      </p>

      <div class="f5">June 2017</div>
      <h3 class="f4 f3-ns tracked">
        ENJOYING THE STARTUP PAVILLION AT ISTE
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        MathBRIX has been selected as one of the up-and-coming EdTech startups
        and has been given the opportunity  to participate in the Annual
        Conference of the International Society of Technology Educators (ISTE).
        Approximately 9,000 teachers, tech coordinators and principals will be
        in attendance. In 2017, the event sponsors were AT&T and the National
        Science Foundation (NSF). Read full article
        <a class="fw3 mb-blue no-underline bb dim" href="https://conference.iste.org/2017">here</a>.
      </p>

      <div class="f5">January 2017</div>
      <h3 class="f4 f3-ns tracked">
        MATHBRIX ONE OF SIX CHOSEN FOR TOP-RANKED ACCELERATOR PROGRAM
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        "The ultimate goal of Capital Innovators is to identify great startups
        to invest in to catalyze innovation," says Brian Dixon, COO. "When we
        combine first-in-class startups with our hands-on, high-touch program,
        it  provides an excellent recipe designed to grow startups quickly.
        This combination continues to produce a positive networking effect that
        attracts entrepreneurs building great businesses year after year and
        we’re thrilled at the international mix of companies we’ve selected."
        Read full article
        <a class="fw3 mb-blue no-underline bb dim" href="https://www.capitalinnovators.com/single-post/2017/02/17/Welcome-to-Capital-Innovators-Spring-Cohort-of-2017">here</a>.
      </p>

      <div class="f5">January 2017</div>
      <h3 class="f4 f3-ns tracked">
        ED GAMES EXPO: SHOWCASING GAMES FOR LEARNING DEVELOPED THROUGH SBIR
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        "We are thrilled to be part of the Department of Education's Ed Games
        Expo," said Bettie Schwartz, CEO of MathBRIX. "In addition to the
        opportunity to demo our product to students, teachers and education
        industry leaders, we have learned so much from the presentations and
        made tremendous contacts!" Read full article
        <a class="fw3 mb-blue no-underline bb dim" href="https://www.sbir.gov/node/1205483">here</a>.
      </p>

      <div class="f5">November 2016</div>
      <h3 class="f4 f3-ns tracked">
        STL EXPORT ACCELERATOR AWARDS CEREMONY
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        The STL Export Accelerator, the first accelerator in the St. Louis area
        to focus exclusively on exports, will grant non-dilutive seed money to
        local companies seeking to expand their footprint outside of the United
        States. The winners receive funding, training, mentoring and office
        space at one of STLVentureWorks’ innovation centers. This is the
        inaugural year for the export awards. Read full article
        <a class="fw3 mb-blue no-underline bb dim" href="http://worldtradecenter-stl.com/events-calendar/events/stl-export-accelerator-awards-ceremony">here</a>.
      </p>

      <div class="f5">November 2016</div>
      <h3 class="f4 f3-ns tracked">
        MATHBRIX WINS MASTERCARD AWARD IN ACCELERATE STL CHALLENGE
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        As entrepreneurism and innovation continue to reshape the business
        landscape of greater St. Louis, the community came together at the
        region’s premier startup event, Startup Connection, on November 15 at
        Washington University in St. Louis. Startup Connection gives St. Louis’
        top startups the opportunity to present their companies to a packed
        house of over 1,000 entrepreneurs, investors and other members of the
        innovation community. The event combines a startup showcase, resource
        fair, and is topped off with a fast-paced pitch session. Read full
        article
        <a class="fw3 mb-blue no-underline bb dim" href="http://acceleratestlouis.org/accelerate-stl-challenge-winners-2016">here</a>.
      </p>

      <div class="f5">May 2016</div>
      <h3 class="f4 f3-ns tracked">
        FORMER MISSOURI COMMISSIONER OF ED IS MATHBRIX'S FIRST INVESTOR
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        The NSF provided 2016 grant recipients a 50% match on outside
        investment (not grants) secured during a 30-day window of time. Dr.
        Chris Nicastro, former Missouri Commissioner of Education and a member
        of the MathBRIX Advisory Board, has stepped up as the venture's first
        investor. From this point on, Dr. Nicastro has agreed to play a
        significant role in the marketing and evaluation of the MathBRIX
        products. Great news!
      </p>

      <div class="f5">February 2016</div>
      <h3 class="f4 f3-ns tracked">
        MATHBRIX AWARDED NATIONAL SCIENCE FOUNDATION/SBIR GRANT
      </h3>
      <p class="mb5 f5 f4-ns fw3 lh-copy">
        The NSF Small Business Innovation Research (SBIR) program seeks to
        assist early-stage companies with innovative technologies that require
        additional R&D to advance commercialization. NSF SBIR provides
        equity-free grants to U.S.-based small businesses. We are thrilled to
        say that MathBRIX was selected on its very first application! We're off
        to a fabulous start! Read full article
        <a class="fw3 mb-blue no-underline bb dim" href="https://www.bizjournals.com/stlouis/blog/biznext/2016/02/edtech-company-wins-national-science-foundation.html">here</a>.
      </p>

    </div>

  </div>


</div>

{{ end }}
