{{ define "main" }}

<style>
 #map {
     height: 100%;
     width: 100%;
 }
</style>

<section>
		<div class="headerImage" id="headerVideo">
				<div id="map"></div>
		</div>
</section>

<section>
		<article class="containerContent  backgroundWhite">
				<div class="divManifiesto">
						<header id="scrollThere-2" class="waypoint" data-id-trigger="itemMenuSecondary-2">

							  <h2 class="txtManifiestoIntro">Ven a visitarnos, siempre hay café</h2>
						</header>
						<div>
							  <p>Edificio Ferbocar.
                    <br/>Avenida de Quitapesares, 17.
								    <br/>Planta 1 Izquierda.
								    <br/>28670 Villaviciosa de Odón. Madrid, España.</p>
								    <p><a href="mailto:hola@osoco.es">hola@osoco.es</a></p>
						</div>
				</div>
		</article>
</section>

{{ end }}
