@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/Raleway/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaybold_italic';
  src: url("../fonts/Raleway/raleway-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayitalic';
  src: url("../fonts/Raleway/raleway-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaylight';
  src: url("../fonts/Raleway/raleway-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaylight_italic';
  src: url("../fonts/Raleway/raleway-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaymedium';
  src: url("../fonts/Raleway/raleway-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gentium_basicbold';
  src: url("../fonts/Gentium/genbasb-webfont.woff2") format("woff2"), url("../fonts/Gentium/genbasb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gentium_basicbold_italic';
  src: url("../fonts/Gentium/genbasbi-webfont.woff2") format("woff2"), url("../fonts/Gentium/genbasbi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gentium_basicitalic';
  src: url("../fonts/Gentium/genbasi-webfont.woff2") format("woff2"), url("../fonts/Gentium/genbasi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gentium_basicregular';
  src: url("../fonts/Gentium/genbasr-webfont.woff2") format("woff2"), url("../fonts/Gentium/genbasr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-48jx4y");
  src: url("../fonts/icomoon.eot?#iefix-48jx4y") format("embedded-opentype"), url("../fonts/icomoon.ttf?-48jx4y") format("truetype"), url("../fonts/icomoon.woff?-48jx4y") format("woff"), url("../fonts/icomoon.svg?-48jx4y#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 96, ../../../../../sass/thoughts/_general.scss */
html {
  font-size: 62.5%;
}

/* line 99, ../../../../../sass/thoughts/_general.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* line 117, ../../../../../sass/thoughts/_general.scss */
img {
  max-width: 100%;
}

/* line 120, ../../../../../sass/thoughts/_general.scss */
iframe {
  border: none;
}

/* line 123, ../../../../../sass/thoughts/_general.scss */
[class^="icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 134, ../../../../../sass/thoughts/_general.scss */
[class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 146, ../../../../../sass/thoughts/_general.scss */
.icon-google-plus:before {
  content: "\e600";
}

/* line 151, ../../../../../sass/thoughts/_general.scss */
.icon-facebook:before {
  content: "\e601";
}

/* line 156, ../../../../../sass/thoughts/_general.scss */
.icon-twitter:before {
  content: "\e602";
}

/* line 161, ../../../../../sass/thoughts/_general.scss */
.icon-github:before {
  content: "\e603";
}

/* line 166, ../../../../../sass/thoughts/_general.scss */
.icon-linkedin:before {
  content: "\e605";
}

/* line 171, ../../../../../sass/thoughts/_general.scss */
.icon-slideshare:before {
  content: "\e60f";
}

/* line 176, ../../../../../sass/thoughts/_general.scss */
.icon-youtube:before {
  content: "\e610";
}

/* line 181, ../../../../../sass/thoughts/_general.scss */
.icon-vimeo:before {
  content: "\e611";
}

/* line 186, ../../../../../sass/thoughts/_general.scss */
.icon-startup:before {
  content: "\e606";
}

/* line 191, ../../../../../sass/thoughts/_general.scss */
.icon-coders:before {
  content: "\e607";
}

/* line 196, ../../../../../sass/thoughts/_general.scss */
.icon-design:before {
  content: "\e608";
}

/* line 201, ../../../../../sass/thoughts/_general.scss */
.icon-security:before {
  content: "\e609";
}

/* line 206, ../../../../../sass/thoughts/_general.scss */
.icon-innovation:before {
  content: "\e60a";
}

/* line 211, ../../../../../sass/thoughts/_general.scss */
.icon-incubator:before {
  content: "\e60b";
}

/* line 216, ../../../../../sass/thoughts/_general.scss */
.icon-menu:before {
  content: "\e60c";
}

/* line 221, ../../../../../sass/thoughts/_general.scss */
.icon-menu-text:before {
  content: "\e60d";
}

/* line 226, ../../../../../sass/thoughts/_general.scss */
.icon-cross:before {
  content: "\e60e";
}

/* line 231, ../../../../../sass/thoughts/_general.scss */
.icon-osoco:before {
  content: "\e604";
}

/* line 235, ../../../../../sass/thoughts/_general.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "gentium_basicregular", Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #747578;
}

/* line 242, ../../../../../sass/thoughts/_general.scss */
h1 {
  font-family: "ralewaylight", helvetica, arial;
}

/* line 245, ../../../../../sass/thoughts/_general.scss */
h2 {
  font-family: "ralewaylight", helvetica, arial;
}

/* line 248, ../../../../../sass/thoughts/_general.scss */
h3 {
  font-family: "ralewaylight", helvetica, arial;
}

/* line 251, ../../../../../sass/thoughts/_general.scss */
h4 {
  font-family: "ralewaylight", helvetica, arial;
}

/* line 254, ../../../../../sass/thoughts/_general.scss */
h5 {
  font-family: "ralewaylight", helvetica, arial;
}

/* line 257, ../../../../../sass/thoughts/_general.scss */
h6 {
  font-family: "ralewaylight", helvetica, arial;
}

/* line 260, ../../../../../sass/thoughts/_general.scss */
a {
  color: #f7911c;
}

/* line 263, ../../../../../sass/thoughts/_general.scss */
strong {
  font-family: "gentium_basicbold";
  color: #000;
}

/* line 267, ../../../../../sass/thoughts/_general.scss */
.content {
  max-width: 1000px;
  padding: 2em 1em;
  margin: auto;
}
/* line 271, ../../../../../sass/thoughts/_general.scss */
.content figure {
  text-align: center;
  margin: 1em 0;
}

/* line 276, ../../../../../sass/thoughts/_general.scss */
.info-text {
  font-family: "ralewaylight", helvetica, arial;
}
/* line 278, ../../../../../sass/thoughts/_general.scss */
.info-text strong {
  font-size: 1.15em;
}

/* line 282, ../../../../../sass/thoughts/_general.scss */
.align-left {
  text-align: left;
}

/* line 285, ../../../../../sass/thoughts/_general.scss */
.align-right {
  text-align: right;
}

/* line 288, ../../../../../sass/thoughts/_general.scss */
.align-center {
  text-align: center;
}

/* line 291, ../../../../../sass/thoughts/_general.scss */
.float-left {
  float: left;
}

/* line 294, ../../../../../sass/thoughts/_general.scss */
.float-right {
  float: right;
}

/* line 297, ../../../../../sass/thoughts/_general.scss */
.btn {
  padding: .5em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  min-width: 10em;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 308, ../../../../../sass/thoughts/_general.scss */
.btn a {
  text-decoration: none;
}

/* line 312, ../../../../../sass/thoughts/_general.scss */
.btn-defatul {
  color: #747578;
  border-color: #747578;
}

/* line 316, ../../../../../sass/thoughts/_general.scss */
.btn-white {
  color: #fff;
  border-color: #fff;
}

/* line 320, ../../../../../sass/thoughts/_general.scss */
.panel {
  padding: 1rem 2rem;
}

/* line 323, ../../../../../sass/thoughts/_general.scss */
.panel-gray-lighter {
  background-color: #e1e1de;
}

/* line 326, ../../../../../sass/thoughts/_general.scss */
.panel-gray {
  background-color: #747578;
}

/* line 329, ../../../../../sass/thoughts/_general.scss */
.panel-gray-dark {
  background-color: #333537;
  color: #fff;
}
/* line 332, ../../../../../sass/thoughts/_general.scss */
.panel-gray-dark h1 {
  color: #fff;
}
/* line 335, ../../../../../sass/thoughts/_general.scss */
.panel-gray-dark h2 {
  color: #fff;
}
/* line 338, ../../../../../sass/thoughts/_general.scss */
.panel-gray-dark h3 {
  color: #fff;
}
/* line 341, ../../../../../sass/thoughts/_general.scss */
.panel-gray-dark h4 {
  color: #fff;
}
/* line 344, ../../../../../sass/thoughts/_general.scss */
.panel-gray-dark h5 {
  color: #fff;
}
/* line 347, ../../../../../sass/thoughts/_general.scss */
.panel-gray-dark h6 {
  color: #fff;
}

/* line 351, ../../../../../sass/thoughts/_general.scss */
.footerHablamos {
  text-align: center;
  background: #747578;
  width: 100%;
  padding-top: 6em;
  padding-bottom: 6em;
  font-family: "ralewaylight", helvetica, arial;
}
/* line 358, ../../../../../sass/thoughts/_general.scss */
.footerHablamos p {
  margin: 0;
  margin-bottom: .25em;
}

/* line 363, ../../../../../sass/thoughts/_general.scss */
.footerLegal {
  text-align: center;
  background: #e1dfd9;
  width: 100%;
  padding-top: 1.1em;
  padding-bottom: .9em;
  vertical-align: middle;
  position: relative;
  display: inline-block;
}
/* line 372, ../../../../../sass/thoughts/_general.scss */
.footerLegal:before {
  clear: both;
}

/* line 376, ../../../../../sass/thoughts/_general.scss */
.txtFooterTitle {
  color: #333537;
  font-weight: 300;
  font-size: 3em;
  font-style: italic;
  margin: 0;
}

/* line 383, ../../../../../sass/thoughts/_general.scss */
.txtFooterEmail {
  font-size: 1.85em;
  color: #fff;
  text-decoration: none;
  line-height: 2.5em;
}

/* line 389, ../../../../../sass/thoughts/_general.scss */
.txtFooterLocation1 {
  font-size: 1.25em;
  color: #fff;
}

/* line 393, ../../../../../sass/thoughts/_general.scss */
.txtFooterLocation2 {
  font-size: 1.15em;
  color: #fff;
  line-height: 1.5em;
}

/* line 398, ../../../../../sass/thoughts/_general.scss */
.txtFooterLocation3 {
  font-size: 0.85em;
  color: #fff;
  line-height: 1.5em;
  margin-bottom: 2.5em;
}

/* line 404, ../../../../../sass/thoughts/_general.scss */
.txtFooterIcons {
  color: #fff;
  font-size: 2.2em;
  text-decoration: none;
  margin: 0em .05em;
}
/* line 409, ../../../../../sass/thoughts/_general.scss */
.txtFooterIcons:hover {
  color: #e1dfd9;
  text-decoration: none;
}

/* line 414, ../../../../../sass/thoughts/_general.scss */
.footerSocialIcons {
  padding: 1.7em 0em 1em 0em;
}

/* line 417, ../../../../../sass/thoughts/_general.scss */
.txtFooterLegal {
  font-size: .8em;
  color: #837870;
  text-decoration: none;
}

/* line 422, ../../../../../sass/thoughts/_general.scss */
.page-popup {
  color: #333537;
}
/* line 424, ../../../../../sass/thoughts/_general.scss */
.page-popup header {
  background-color: #fff;
  height: 50px;
  display: table;
  width: 100%;
  vertical-align: middle;
}
/* line 430, ../../../../../sass/thoughts/_general.scss */
.page-popup header > div {
  display: table-cell;
  vertical-align: top;
}
/* line 435, ../../../../../sass/thoughts/_general.scss */
.page-popup header .osocoLogo img {
  padding: 8px 1em;
  height: 30px;
}
/* line 440, ../../../../../sass/thoughts/_general.scss */
.page-popup header .btnClose {
  text-align: right;
}
/* line 442, ../../../../../sass/thoughts/_general.scss */
.page-popup header .btnClose a {
  line-height: 50px;
  width: 4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
/* line 451, ../../../../../sass/thoughts/_general.scss */
.page-popup .filterPanel {
  background-color: #e1dfd9;
  padding: 1em 2em;
  font-size: 1.375rem;
}
/* line 456, ../../../../../sass/thoughts/_general.scss */
.page-popup .filterPanel p:not(:last-child) {
  padding-bottom: .5em;
}
/* line 460, ../../../../../sass/thoughts/_general.scss */
.page-popup .filterPanel a {
  color: #0096a1;
  font-size: 1rem;
}

/* line 467, ../../../../../sass/thoughts/_general.scss */
.page-post .titlePost {
  position: relative;
  background-color: #333537;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  /* line 467, ../../../../../sass/thoughts/_general.scss */
  .page-post .titlePost {
    display: table;
    width: 100%;
  }
}
/* line 479, ../../../../../sass/thoughts/_general.scss */
.page-post .titlePost > .title {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  flex-grow: 1;
  flex-basis: 100%;
  order: 0;
}
@media (min-width: 768px) {
  /* line 479, ../../../../../sass/thoughts/_general.scss */
  .page-post .titlePost > .title {
    display: table-cell;
    vertical-align: bottom;
    height: 460px;
    padding: 0 2rem 2rem 33rem;
  }
}
/* line 493, ../../../../../sass/thoughts/_general.scss */
.page-post .titlePost .title h1 {
  color: #fff;
  text-shadow: 1px 1px 2px #969696;
  margin: 0 0 .2em 0;
  font-size: 2em;
  line-height: 1em;
}
@media (min-width: 768px) {
  /* line 493, ../../../../../sass/thoughts/_general.scss */
  .page-post .titlePost .title h1 {
    font-size: 3.75rem;
  }
}
/* line 503, ../../../../../sass/thoughts/_general.scss */
.page-post .titlePost .title h2 {
  color: #fff;
  text-shadow: 1px 1px 2px #969696;
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}
/* line 511, ../../../../../sass/thoughts/_general.scss */
.page-post .titlePost .autor {
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "ralewaylight", helvetica, arial;
  text-align: center;
  order: 1;
  flex-basis: 46%;
  padding: 4% 2%;
}
/* line 518, ../../../../../sass/thoughts/_general.scss */
.page-post .titlePost .autor img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 170px;
  max-width: 100%;
}
/* line 525, ../../../../../sass/thoughts/_general.scss */
.page-post .titlePost .autor a {
  display: block;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  /* line 511, ../../../../../sass/thoughts/_general.scss */
  .page-post .titlePost .autor {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 2;
    background-color: transparent;
    padding: 0;
  }
}
/* line 539, ../../../../../sass/thoughts/_general.scss */
.page-post .titlePost .date {
  flex-basis: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "ralewaylight", helvetica, arial;
  color: #fff;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  order: 1;
  flex-basis: 46%;
  padding: 4% 2%;
}
@media (min-width: 768px) {
  /* line 539, ../../../../../sass/thoughts/_general.scss */
  .page-post .titlePost .date {
    background-color: transparent;
    position: absolute;
    left: 22.5rem;
    bottom: 2rem;
    z-index: 2;
    padding: 0;
  }
}
/* line 559, ../../../../../sass/thoughts/_general.scss */
.page-post .titlePost .date .day {
  font-size: 2em;
  line-height: 1.2em;
  font-family: "ralewaybold", helvetica, arial;
}
/* line 566, ../../../../../sass/thoughts/_general.scss */
.page-post .content {
  color: #333;
}
/* line 568, ../../../../../sass/thoughts/_general.scss */
.page-post .content p {
  font-size: 1.8rem;
  line-height: 1.6em;
  color: #333;
}
/* line 573, ../../../../../sass/thoughts/_general.scss */
.page-post .content blockquote {
  font-family: "gentium_basicitalic";
  font-size: 1.3em;
  line-height: 1.2em;
  font-style: italic;
}
/* line 579, ../../../../../sass/thoughts/_general.scss */
.page-post .content blockquote.float-left {
  max-width: 360px;
}
/* line 582, ../../../../../sass/thoughts/_general.scss */
.page-post .content blockquote.float-right {
  max-width: 360px;
}
/* line 586, ../../../../../sass/thoughts/_general.scss */
.page-post .navPosts {
  font-size: 1.5em;
  background-color: #f7911c;
}
/* line 589, ../../../../../sass/thoughts/_general.scss */
.page-post .navPosts > div {
  max-width: 1280px;
  margin: auto;
  padding: 1em 2em;
}
/* line 593, ../../../../../sass/thoughts/_general.scss */
.page-post .navPosts > div a {
  font-family: "gentium_basicitalic";
  text-decoration: none;
  color: #fff;
}
/* line 597, ../../../../../sass/thoughts/_general.scss */
.page-post .navPosts > div a:last-child {
  float: right;
}
/* line 601, ../../../../../sass/thoughts/_general.scss */
.page-post .navPosts > div strong {
  font-family: "gentium_basicitalic";
  text-decoration: none;
  color: #fff;
}

/* line 609, ../../../../../sass/thoughts/_general.scss */
.postList {
  font-family: "ralewaylight", helvetica, arial;
  display: flex;
  display: -webkit-flex;
}
/* line 613, ../../../../../sass/thoughts/_general.scss */
.postList .post-item {
  color: #fff;
  width: 33.33%;
  height: 360px;
  background-size: cover;
  background-position: 50%;
}
/* line 619, ../../../../../sass/thoughts/_general.scss */
.postList .post-item .item-content {
  padding: 2rem;
  height: calc( 360px - 4rem);
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 624, ../../../../../sass/thoughts/_general.scss */
.postList .post-item h3 {
  font-family: "ralewaylight", helvetica, arial;
  font-size: 2.125rem;
  color: #fff;
}

/* line 631, ../../../../../sass/thoughts/_general.scss */
.btnUp-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 10000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(223, 144, 46, 0.8) url(../images/btnUpArrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
/* line 649, ../../../../../sass/thoughts/_general.scss */
.btnUp-top:hover {
  background-color: #f7911c;
  opacity: 1;
}

/* line 654, ../../../../../sass/thoughts/_general.scss */
.btnUp-top.btnUp-is-visible {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
  visibility: visible;
  opacity: 1;
}

/* line 661, ../../../../../sass/thoughts/_general.scss */
.btnUp-top.btnUp-fade-out {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
  opacity: .5;
}

/* line 669, ../../../../../sass/thoughts/_general.scss */
.no-touch .btnUp-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

/* line 676, ../../../../../sass/thoughts/_general.scss */
hr.section-divider {
  display: block;
  text-align: center;
  border: 0;
  margin: 50px 0;
}
/* line 681, ../../../../../sass/thoughts/_general.scss */
hr.section-divider:before {
  content: '...';
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  letter-spacing: .6em;
  display: inline-block;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  /* line 692, ../../../../../sass/thoughts/_general.scss */
  .btnUp-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 700, ../../../../../sass/thoughts/_general.scss */
  .btnUp-top {
    display: none;
  }
}
