{{ partial "header" . }}

<section class="py-12 px-4">
    <h2 class="text-4xl text-center mb-4 font-heading">Project Portfolio</h2>
    <p class="max-w-2xl mb-8 mx-auto text-center text-gray-500 leading-relaxed">See projects being designed, that are in progress and that have graduated. </p>
    <div class="flex max-w-lg mb-12 mx-auto text-center border-b-2">
      <div class="w-1/4 pb-2 border-b-4 border-indigo-500">
        <button>Standard</button>
      </div>
      <div class="w-1/4 pb-2">
        <button>Research</button>
      </div>
      <div class="w-1/4 pb-2">
        <button>Pilot</button>
      </div>
      <div class="w-1/4 pb-2">
        <button>Design</button>
      </div>
    </div>
      <div class="flex flex-wrap -mx-4">
        {{ range .Data.Pages }}
          {{ partial "case-summary" . }}          
        {{ end }}
      </div>
    </div>
  </section>

{{ partial "footer" . }}