@import 'tachyons';
@import 'tether-drop/dist/css/drop-theme-arrows-bounce';
@import 'nouislider';
@import 'plyr';
@import "imports/reset.css";

/* Global */

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
}

/* Colors */

.mb-red {
  color: #e22b17;
}

.mb-orange {
  color: #f46324;
}

.mb-california {
  color: #f8a227;
}

.mb-yellow {
  color: #fecc2f;
}

.mb-atlantis {
  color: #acc424;
}

.mb-green {
  color: #50a101;
}

.mb-mountain-meadow {
  color: #33bfb2;
}

.mb-light-blue {
  color: #46c2f5;
}

.mb-blue {
  color: #00a6ff;
}

.mb-pelorous {
  color: #1c9bfd;
}

.mb-violet {
  color: #a364d9;
}

.mb-pink {
  color: #ee6579;
}

/* Background colors */

.bg-mb-yellow {
  background-color: #fecc2f;
}

.bg-mb-light-blue {
  background-color: #46c2f5;
}

.bg-mb-blue {
  background-color: #00a6ff;
}

.bg-mb-mountain-meadow {
  background-color: #33bfb2;
}

/* Border colors */

.b--mb-red {
  border-color: #e22b17;
}

.b--mb-orange {
  border-color: #f46324;
}

.b--mb-california {
  border-color: #f8a227;
}

.b--mb-yellow {
  border-color: #fecc2f;
}

.b--mb-atlantis {
  border-color: #acc424;
}

.b--mb-green {
  border-color: #50a101;
}

.b--mb-mountain-meadow {
  border-color: #33bfb2;
}

.b--mb-light-blue {
  border-color: #46c2f5;
}

.b--mb-pelorous {
  border-color: #1c9bfd;
}

.b--mb-violet {
  border-color: #a364d9;
}

.b--mb-pink {
  border-color: #ee6579;
}

/* Header */

#mobile-nav {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 999;
  background-color: white;
  transition: left 0.3s ease;
  box-shadow: 0 50px 100px rgba(50,50,93,.1),
              0 15px 35px rgba(50,50,93,.15),
              0 5px 15px rgba(0,0,0,.1);
}

/* Home */

#banner {
  background-image: url('/girl-playing-mathbrix-game-in-stem-lab-on-ipad-large-cropped-darkened.jpg');
}

@media screen and (max-width: 48em) {
  #banner {
    height: 380px;
  }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
  #banner {
    height: 657px;
  }
}

@media screen and (min-width: 64em) {
  #banner {
    height: 861px;
  }
}

.modal-backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  pointer-events: auto;
}

#modal-window {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

/* Pricing */

.plan-features li:before {
  margin-right: 8px;
  content: '✓';
}

/* Blog */

.blog-post p {
  @extend .f5;
  @extend .f4-ns;
  @extend .fw3;
  @extend .lh-copy;
}

.blog-post a {
  @extend .mb-blue;
  @extend .dim;
}

.blog-post ol, ul {
  @extend .mt0;
  @extend .ml4;
  @extend .pa0;
  @extend .f5;
  @extend .f4-ns;
  @extend .fw3;
}
