/*
  You can use import statements to include partials:
 */
@import "imports/normalize.css";
@import "imports/typebase.css";
@import "imports/reset.css";
@import "imports/fluidTypography.scss";

$text_color: #eeeeee;
$accent_color: pink;
$sub_text_color: #acacac;
$code_color: #e73c70;
$background_color: #282c34;

/* make the canvas fill the available space */
#c {
  position: fixed;
  left: 0;
  top: 0;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  background-color: $background_color;
  color: $text_color;
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: 1rem;
  }
}

a {
  color: $accent_color;
  text-decoration: none;

  :hover {
    text-decoration: underline;
  }

  /* active menu item in header */
  .current {
    color: $text_color;
  }
}

/* hover looks better without underline for headers */
h1,
h2,
h3,
h4 {
  a:hover {
    text-decoration: none;
    color: $text_color;
  }
}

.siteHeader {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

/* nav bar part of header */
.siteNav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* menu on right of nav bar */
.siteSectionList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > * + * {
    margin-left: 1rem;
  }
}

/* menu items on right of nav bar */
.siteSectionListItem {
  display: inline;
}

/* hr at bottom of header */
.siteHeaderRule {
  width: 100%;
  border: none;
  border-top: 1px solid $accent_color;
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  * hr {
    border-bottom: 1px solid $accent_color;
    width: 30ch;
  }

  > * + * {
    margin-top: 1.5rem;
  }
}

section {
  .home {
    border: 1px solid $accent_color;
    padding: 1rem;
  }

  .section {
    border-bottom: 1px solid $accent_color;
    padding: 1rem;
    align-self: center;
  }
}

.contentContainer {
  box-sizing: content-box;
  width: calc(100vw - 5rem);
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > * + * {
    margin-top: 1.5rem;
  }
}

.contentMeta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: $sub_text_color;
  margin-top: 0.5rem;

  p::after {
    content: "  \00b7   ";
    white-space: pre;
  }

  p:last-child::after {
    content: "";
  }
}

.portrait {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.footer {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: $sub_text_color;
  flex-shrink: 0;
}

/* make the code blocks fill available space */
.highlight {
  width: 100%;

  /* make the code blocks have nicer padding and borders */
  > pre {
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0;

    /* reset the color for code blocsk */
    > code {
      color: $text_color;
    }
  }
}

/* make inline code elements have nice colors */
code {
  color: $code_color;
  background: #272823;
}

.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  > * + * {
    margin-left: 1rem;
  }
}

.page-item {
  display: inline;

  .disabled {
    pointer-events: none;
    cursor: default;
  }

  .active > a {
    color: $text_color;
  }
}
