/*
  You can use import statements to include partials:
 */
/* @import 'imports/reset.css'; */
@import 'tailwind.css';
/*
  Or add your statements here:
 */
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Based on: https://codepen.io/nickelse/pen/YGPJQG
Influenced by: https://sproutsocial.com/
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* #Mega Menu Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}



/* #hoverable Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .hoverable {
    position: static;
}

.hoverable>a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.hoverable:hover .mega-menu {
    display: block;
} */


/* #toggle Class Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggleable>label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.toggle-input {
    display: none;
}

.toggle-input:not(checked)~.mega-menu {
    display: none;
}

.toggle-input:checked~.mega-menu {
    display: block;
}

/* .toggle-input:checked+label {
    color: white;
    background: #2c5282;
} */

.toggle-input:checked~label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}