@import 'tachyons';
@import 'tether-drop/dist/css/drop-theme-arrows-bounce';
@import 'nouislider';
@import "imports/reset.css";

/* Global */

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
}

.bg-mb-light-blue {
  background-color: #46c2f5;
}

.b--mb-light-blue {
  border-color: #46c2f5;
}

.mb-blue {
  color: #00a6ff;
}

.bg-mb-blue {
  background-color: #00a6ff;
}

.bg-mb-mountain-meadow {
  background-color: #33bfb2;
}

.b--mb-mountain-meadow {
  border-color: #33bfb2;
}

/* Header */

#logo {
  width: 125px;
  height: 43px;
}

/* Home */

#banner {
  background-image: url('/girl-playing-mathbrix-game-in-stem-lab-on-ipad-cropped-darkened.jpg');
}

.modal-backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  pointer-events: auto;
}

#modal-window {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

/* Team */

.team-pic {
  width: 153px;
  height: 175px;
}

/* Pricing */

#early-adopter-discount {
  position: absolute;
  top: -40px;
  right: -10px;
}

#old-price {
  text-decoration: line-through red;
}

.plan-features li:before {
  margin-right: 8px;
  content: '✓';
  color: #19A974;
}
