.block {
  position: relative;
  @include cf();

  &--popout {
    @include mq($from: desktop) {
      height: 120px;
    }
  }

  &--left-image {
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;

    &.block--white {
      box-shadow: none;
    }

    @include mq($from: desktop) {
      box-shadow: none;
      padding-top: 0;
      @include cf();
    }
  }

  &--white {
    background: white;

    @include mq($from: desktop) {
      padding: $padding * 5 0;
    }

    .block--plain + & {
      @include mq($from: desktop) {
        padding: $padding * 5 0;
      }
    }
  }

  &--image-last {
    display: flex;
    flex-direction: column-reverse;

    @include mq($from: desktop) {
      display: block;
    }
  }
}

.block__image {
  @include mq($from: desktop) {
    height: 480px;
    box-shadow: none;
    background-size: inherit;
  }

  .block--left-image & {
    display: flex;
    justify-content: flex-end;
    position: relative;

    @include mq($until: desktop) {
      &::before {
        display: block;
        content: "";
        box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1000;
      }
    }

    @include mq($from: desktop) {
      float: left;
      width: 50%;
      height: auto;
    }
  }

  .block--image-last & {
    &::before {
      box-shadow: none;
    }
  }

  &--bg {
    display: flex;
    align-items: flex-end;
    height: 400px;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    background-size: 1024px 400px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--inset {
    margin-bottom: $padding;
  }
}

.block__image-image {
  margin: 0 auto;

  @include mq($from: desktop) {
    margin: 0;
  }
}

.block__header {
  background: $mhp-green;
  padding: $padding;

  @include mq($from: desktop) {
    padding: $padding * 2;
  }

  .block + .block--plain & {
    background: white;
  }

  .block--plain + .block--plain & {
    box-shadow: none;
  }

  .block--left-image & {
    padding-bottom: 0;

    @include mq($from: desktop) {
      padding-top: $padding / 2;
      padding-bottom: $padding * 2;
    }
  }
}

.block__header-title {
  color: white;

  .block--plain & {
    color: black;
    margin-bottom: 0;
  }

  .block--left-image & {
    @include mq($from: desktop) {
      margin: 0px;
    }
  }
}

.block__header-sub-title {
}

.block__body {
  background: white;
  padding: $padding;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);

  @include mq($from: desktop) {
    box-shadow: none;
    padding: $padding * 2;
    padding-bottom: 0;
  }

  .block--image-last & {
    box-shadow: none;
  }

  .block--left-image & {
    @include mq($from: desktop) {
      padding-top: 0;

      p {
        margin-top: 0;
      }
    }
  }
}

.block__aside {
  margin-top: $padding * 3;
  text-align: center;

  @include mq($from: desktop) {
    float: left;
    padding: $padding;
    margin: 0 $padding * 2 0 0;
  }
}
