.block {
  position: relative;

  &--popout {
    @include mq($from: desktop) {
      height: 120px;
    }
  }
}

.block__image {
  height: 300px;
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;

  &--inset {
    margin-bottom: $padding;
  }

  display: flex;
  align-items: flex-end;

  @include mq($from: desktop) {
    height: 480px;
    box-shadow: none;
    background-size: inherit;
  }
}

.block__header {
  background: $mhp-green;
  padding: $padding;

  .block + .block--plain & {
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    background: white;
    padding-bottom: 0;
  }

  .block--plain + .block--plain & {
    box-shadow: none;
  }

  @include mq($from: desktop) {
    padding: $padding * 2;
  }
}

.block__header-title {
  color: white;

  .block--plain & {
    color: black;
  }
}

.block__header-sub-title {
}

.block__body {
  padding: $padding;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);

  @include mq($from: desktop) {
    box-shadow: none;
    padding: $padding * 2;
  }
}
