.icon-links {
  list-style: none;
  margin: 0;
  padding: 0;
  @include cf();
}

.icon-links__link {
  display: block;
  float: left;
  text-align: center;
  width: 50%;
}

.icon-links__icon-container {
  height: 95px;
  display: flex;
  align-items: center;
}

.icon-links__icon {
  height: 100px;
  display: block;
  margin: 0 auto;
}
