.icon-links {
  list-style: none;
  margin: 0;
  padding: 0;
  @include cf();
}

.icon-links__link {
  background: url(https://via.placeholder.com/75) no-repeat top;
  display: block;
  float: left;
  padding: 85px 0 $padding;
  text-align: center;
  width: 50%;
}
