body {
  color: black;
  font-family: $body-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.sr-only {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}
