body {
  color: black;
  font-family: $body-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.sr-only {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

h1, h2, h3 {
  font-family: 'abolition', sans-serif;
  font-weight: 200;
  margin: $padding 0;
}

h1 {
  font-size: 48px;
}

a {
  color: $mhp-green;
}
