.home-hero { 
  color: white;
  padding: 155px $padding $padding;
  background-size: 100%;
}

.home-hero__logo {
  width: 110px;
  height: 110px;
}

.home-hero__title {}
.home-hero__title-first {
  display: block
}
.home-hero__title-second {}
.home-hero__strap {}
