.home-hero { 
  color: white;
  padding: $padding;
}

.home-hero__logo {
  width: 110px;
  height: 110px;
}

.home-hero__title {}
.home-hero__title-first {}
.home-hero__title-second {}
.home-hero__strap {}
