{{ define "extra-meta" }}
{{ partial "smart-app-banner" }}
{{ end }}

{{ define "extra-header" }}

<div class="dn db-l mh6 pt2 ph2 bt bb b--moon-gray">
  {{ range $.Site.Data.skills }}
    <a class="dib mr3 mb2 mb-blue no-underline dim" href="{{ $.URL }}#{{ urlize .category.name }}">{{ .category.name }}</a>
  {{ end }}
</div>

{{ end }}

{{ define "main" }}

<div class="pt4 ph3 ph5-ns ph6-l mid-gray">
  <h1 class="ma0 f3 f2-ns normal ttu tracked black">Math Skills</h1>
</div>

{{ $skills := $.Site.Data.skills }}

<!--
Figure out where the halway point is in the list of skills so we can place
the first "What is MathBRIX" section. If the skills list is an odd-numbered
length, put the section right before the halfway entry.
-->
{{ $halfway := sub (math.Floor (div (len $skills) 2)) 1 }}

{{ range $index, $skill := $skills }}

  {{ $cat := $skill.category }}

  <div class="mt4 mb3 ph3 ph5-ns ph6-l mid-gray">

    <h2 id="{{ urlize $cat.name }}" class="flex items-center mb2 f3 f2-ns normal black">
      <a class="red no-underline dim" href="{{ $.URL }}{{ urlize $cat.name }}">{{ $cat.title }}</a>
      <img class="ml2 w1" src="/link.svg">
    </h2>

    <p class="w-100 w-80-l mt0 f5 f4-ns lh-copy">{{ $cat.full_description }}</p>

    <div class="flex flex-wrap">
      {{ range $skill.games }}
        {{ partial "game-thumbnail" . }}
      {{ end }}
    </div>

  </div>

  {{ if eq (int $index) (int $halfway) }}
    {{ partial "what-is-mathbrix" }}
  {{ end }}

{{ end }}

{{ partial "what-is-mathbrix" }}

{{ end }}
