{{ partial "header" . }}
<div class="bg-teal-100">
<div class="container mx-auto px-4">
<section class="py-12 px-4 pt-24">
    <div class="flex flex-wrap items-center text-center lg:text-left -mx-2">
        <div class="lg:w-1/2 px-2">
            <img src="images/publications.svg" alt="">
        </div>
        <div class="lg:w-1/2 px-2">
            <h2 class="text-5xl mb-6 leading-tight font-heading">Peer reviewed publications</h2>
            <p class="text-gray-500 text-xl leading-relaxed">Innovative research using the Way to Health platform published in peer reviewed journals.</p>
        </div>
    </div>
</section>
</div>
</div>
<div class="container mx-auto px-4">
<section class="py-12 px-4">
    <div class="flex flex-wrap -mx-4">
        {{ range .Data.Pages  }}
            {{ partial "horizontal-list" . }}
        {{ end }}
    </div>
</section>
</div>
{{ partial "footer" . }}