{{ partial "header" . }}
<section class="py-8 px-4 bg-yellow-300">
    <div class="flex flex-wrap -mx-4">
        <div class="lg:w-4/6 px-12 mb-8 lg:mb-0 text-center lg:text-left">
            <h2 class="text-2xl font-heading text-center">Our work on COVID-19 response - insights and solutions</h2>
        </div>
        <div class="w-full lg:w-2/6 px-4 text-center">
            <a class="inline-block py-4 px-8 mb-4 sm:mb-0 mr-6 leading-none text-white bg-orange-600 hover:bg-orange-200 rounded shadow"
                href="covid19">Learn More</a>
    </div>
</section>
{{ partial "splash-left" . }}

{{ partial "logos" . }}

{{ partial "text-left" . }}

{{ with .Params.domains }}
    {{ range .listing }}
        {{ partial "section-right" . }}
    {{ end }}
{{ end }}

<div class="container mx-auto px-4">
<section class="py-8 px-4 pt-16 pb-16">
    <!-- <hr class="pt-16 pb-16"></hr> -->
    <h2 class="text-4xl text-center mb-4 font-heading">Project Spotlights</h2>
    <p class="max-w-2xl mb-8 mx-auto text-center text-gray-500 leading-relaxed">Some of the successes we are proud of
    </p>
    {{/*  <p class="mb-6 text-xl text-center"> <a class="mt-auto text-blue-500 hover:underline" href="projects">View all</a></p>  */}}
    {{/*  <div class="flex max-w-lg mb-12 mx-auto text-center border-b-2">
        <div class="w-1/3 pb-2 border-b-4 border-indigo-500">
            <button>All</button>
        </div>
        <div class="w-1/3 pb-2">
            <button>Clinical</button>
        </div>
        <div class="w-1/3 pb-2">
            <button>Research</button>
        </div>
    </div>  */}}
    <div class="flex flex-wrap -mx-4">
        {{ $v1 := where .Site.Pages "Section" "projects" }}
        {{ $v2 := where (where .Site.Pages "Section" "projects") "Params.spotlight" true }}
        {{ $v3 := where (where .Site.Pages "Section" "projects") "Params.area" "clinical"}}
        {{ $v4 := where (where .Site.Pages "Section" "projects") "Params.area" "research"}}
        {{ $filteredclinical := $v1 | intersect $v2 | intersect $v3 }}
        {{ $filteredresearch := $v1 | intersect $v2 | intersect $v4 }}

        {{ range first 3 $filteredclinical }}
            {{ partial "case-summary" . }}
        {{ end }}
        {{ range first 3 $filteredresearch }}
            {{ partial "case-summary" . }}
        {{ end }}
    </div>
    <div class="mt-8 text-center">
        <a class="inline-block py-4 px-8 mr-6 leading-none text-white bg-green-400 rounded shadow"
            href="projects">View All</a>
    </div>
</section>
</div>

{{ partial "contact" . }}

<div class="bg-gray-100">
<div class="container mx-auto px-4">
<section class="py-8 px-4 pt-16 pb-16">
    <h2 class="text-3xl text-center leading-tight mb-8 font-heading">Latest Content</h2>
    <p class="mb-6 text-xl text-center text-gray-500">Way to Health mentions, publications and content </p>
    <div class="flex flex-wrap -mx-4">
        {{ range first 1 (where site.RegularPages "Type" "eq" "blog") }}
            {{ partial "content-summary" . }}
        {{ end }}
        {{ range first 1 (where site.RegularPages "Type" "eq" "press") }}
            {{ partial "content-summary" . }}
        {{ end }}
        {{ range first 1 (where site.RegularPages "Type" "eq" "publications") }}
            {{ partial "content-summary" . }}
        {{ end }}
    </div>
</section>
</div>
</div>

{{ partial "footer" . }}