{{ partial "header" . }}

<section class="py-12 px-4 mt-16 mb-16 ">
    <div class="flex flex-row flex-wrap items-center text-center lg:text-left">
        <div class="lg:w-1/2 px-2"><img class="rounded" src="{{ .Params.image }}" alt="">
        </div>
        <div class="lg:w-1/2 px-2">
            <h2 class="text-4xl px-4 mb-4 leading-tight font-heading sm:6xl">{{ .Params.title }}</h2>
            <div class="p-4 mb-4">
                <h3 class="text-xl mb-2 font-heading sm:2xl">{{ .Date.Format "Jan 2, 2006" }} by {{ .Params.authorname }}</h3>
                <p class="text-gray-500 leading-relaxed">{{ .Params.summary}}</p>
            </div>
        </div>
    </div>
</section>

    <article class="py-12 px-4">
        <div class="max-w-3xl mx-auto">
           {{ .Content }}
        </div>
    </article>

{{ partial "footer" . }}