{{ partial "header" . }}

<section class="py-12 px-4">
    <h2 class="text-4xl text-center mb-4 font-heading">Quote Request</h2>
    <p class="max-w-2xl mb-8 mx-auto text-center text-gray-500 leading-relaxed">We are a non-profit operating under the aegis of the Trustees of the University of Pennsylvania. Answering these questions will help us provide you with an accurate quote. A phone conversation will likely be necessary
    as well.</p>
    <!-- <div class="flex max-w-lg mb-12 mx-auto text-center border-b-2 btn-group" id="filters">
        <div class="w-1/2 pb-2 border-b-2 hover:border-blue-400">
            <button class="btn-group" data-filter=".research">Research Projects</button>
        </div>
        <div class="w-1/2 pb-2 border-b-2 hover:border-blue-400">
            <button class="btn-group" data-filter=".clinical">Clinical Projects</button>
        </div>
    </div> -->
    <div class="container mx-auto px-4">
        <div id="surveyContainer"></div>
    </div>

</section>

{{ partial "footer" . }}