{{ define "main" }}

<div class="ph3 ph6-l pv4-l tc">

  <h1 class="mt0 mb4 f2 normal black">MathBRIX Plans</h1>

  <div class="flex flex-wrap mid-gray">

    <div class="w-100 w-50-l pr3-l pb3 pb0-l">
      <div class="relative mb3 mb0-l pb3 ba b--mb-mountain-meadow bw2">
        <h3 class="mt0 mb3 pv1 white bg-mb-mountain-meadow f3 tracked ttu">Pro</h3>
        <small class="dib mb1 tracked ttu">as low as</small>
        <div class="f3">
          $<span id="total-price">99</span> / classroom / year
        </div>
        <div id="pricing-slider" class="w-80 center mt3 mb3"></div>
        <div class="f4 fw3"><span id="num-students">20</span> student(s)</div>
        <div class="flex justify-center">
          <ul class="plan-features mt3 mt4-ns mh3 tl f5 f4-ns fw3 lh-copy list">
            <li>Standards aligned K-2 games</li>
            <li>Class rostering & management</li>
            <li>Easy student login</li>
            <li>Standards database</li>
            <li>Class progress reports</li>
            <li>Detailed drill-down analytics</li>
            <li>Assignments (coming soon!)</li>
            <li>Email and live chat support</li>
          </ul>
        </div>
        <a class="dib mt2 pv3 ph4 bg-mb-blue white br2 fw3 tracked no-underline dim" href="https://teach.mathbrix.com/register">
          30-Day Free Trial
        </a>
        <small class="db mt2 fw3">
          Still have questions? See our
          <a class="mb-blue no-underline bb dim" href="https://help.mathbrix.com/article/4-pricing-faq">pricing FAQ</a>
        </small>
      </div>
    </div>

    <div class="w-100 w-50-l">
      <div class="h-100 pb3 ba b--mb-light-blue bw2">
        <h3 class="mt0 mb3 pv1 white bg-mb-light-blue f3 tracked ttu">School</h3>
        <b class="f4">Everything in Pro, plus:</b>
        <div class="flex justify-center">
          <ul class="plan-features mt3 mh3 tl f5 f4-ns fw3 lh-copy list">
            <li>Administrative-level reporting</li>
            <li>SIS integration</li>
            <li>Progress against assessments</li>
            <li>Phone support</li>
          </ul>
        </div>
        <a class="dib mt2 pv3 ph4 bg-mb-blue white br2 fw3 tracked no-underline dim" href="/contact">
          Contact us
        </a>
      </div>
    </div>

  </div>

</div>

{{ end }}
