{{ define "header" }}
<!--Header-->
{{ end }}

{{ define "main" }}

<div class="pv4 ph3 ph5-ns ph6-l mid-gray">

  <h1 class="mt0 f3 f2-ns normal ttu tracked black">Privacy</h1>

  <p class="f5 f4-ns fw3 lh-copy">
    This privacy policy has been compiled to better serve those who are
    concerned about how their Personally Identifiable Information (PII) is
    being used online by the MathBRIX&trade; website. PII, as described in US privacy
    law and information security, is information that can be used on its own or
    with other information to identify, contact, or locate a single person, or
    to identify an individual in context. Please read our privacy policy
    carefully to get a clear understanding of how we collect, use, protect, or
    otherwise handle your Personally Identifiable Information in accordance
    with our website.
  </p>

  <h3 class="mt4 f5 f4-ns">
    What personal information does MathBRIX&trade; collect from the people who
    visit our blog, website, or app?
  </h3>
  <p class="f5 f4-ns fw3 lh-copy">
    When ordering or registering on our site, you may be asked to enter your
    email address or other details to help you with your experience.
  </p>

  <h3 class="mt4 f5 f4-ns">When does MathBRIX&trade; collect information?</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    We collect information from you when you register on our site, respond to a
    survey, fill out a form, use Live Chat, open a Support Ticket, or enter
    other information on our site.
  </p>

  <h3 class="mt4 f5 f4-ns">How does MathBRIX&trade; use your information?</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    The information we collect from you when you register, make a purchase,
    sign up for our newsletter, respond to a survey or marketing communication,
    surf the website, or engage certain other site features, may be used in the
    following ways:
  </p>
  <ul class="pl3 pl4-ns f5 f4-ns fw3 lh-copy">
    <li class="mb2">
      To personalize your experience and allow us to deliver the types of
      content and product offerings in which you are most interested.
    </li>
    <li class="mb2">To process your transactions quickly.</li>
    <li class="mb2">To respond to your customer service requests.</li>
    <li>
      To follow up with you after correspondence through live chat, email, or
      phone.
    </li>
    <li class="mb2">
      To ask you for ratings and reviews of our services or products.
    </li>
    <li class="mb2">
      To administer a contest, promotion, survey, or other site feature.
    </li>
    <li class="mb2">To improve our website in order to serve you better.</li>
  </ul>

  <h3 class="mt4 f5 f4-ns">How does MathBRIX&trade; protect your information?</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    Our website is scanned on a regular basis for security holes and known
    vulnerabilities in order to make your visit to our site as safe as
    possible.
  </p>
  <ul class="pl3 pl4-ns f5 f4-ns fw3 lh-copy">
    <li class="mb2">
      Your personal information is contained behind secured networks and is
      only accessible by a limited number of persons who have special access
      rights to such systems, and are required to keep your information
      confidential. In addition, all sensitive/credit information you supply is
      encrypted via Secure Socket Layer (SSL) technology.
    </li>
    <li class="mb2">
      We implement a variety of security measures that maintain the safety of
      your private data whenever you enter, submit, or access personal
      information on our site.
    </li>
    <li class="mb2">
      All transactions on our site are processed through a gateway provider and
      are not processed or stored on our servers.
    </li>
  </ul>

  <h3 class="mt4 f5 f4-ns">Does MathBRIX&trade; use cookies?</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    Yes. Cookies are small files that a site or its service provider transfers
    to your computer's hard drive through your web browser (if allowed) that
    enable the site's or service provider's systems to recognize your browser,
    capture and relevant information, and remember it. For instance, we use
    cookies to help us remember and process the items in your shopping cart.
    Cookies help us understand your preferences based on previous or current
    site activity, which enables us to provide you with improved services. We
    also use cookies to help us compile aggregate data about site traffic and
    site interaction so that we can offer better site experiences and tools in
    the future. We may also use trusted third-party services that track this
    information on our behalf.
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    You can choose to have your computer warn you each time a cookie is being
    sent, or you can choose to turn off all cookies. You do this through your
    browser settings. Since each browser is a little different, look at your
    browser's Help Menu to learn the correct way to modify your cookie
    preferences.
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    If you turn cookies off, some of the features that make your site
    experience more efficient may not function properly.
  </p>

  <h3 class="mt4 f5 f4-ns">Third-party disclosure</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    We do not sell, trade, or otherwise transfer to outside parties your
    Personally Identifiable Information unless we provide users with advance
    notice. This does not include website hosting partners and other parties
    who assist us in operating our website, conducting our business, or serving
    our users, so long as these parties agree to keep this information
    confidential. We may also release information when its release is
    appropriate to comply with the law, enforce our site policies, or protect
    ours or others' rights, property or safety.
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    Note that non-personally identifiable visitor information may be provided
    to other parties for marketing, advertising, or other uses.
  </p>

  <h3 class="mt4 f5 f4-ns">Third-party links</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    We do not include or offer third-party products or services on our website.
  </p>

  <h3 class="mt4 f5 f4-ns">Google</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    Google's advertising requirements can be summed up by Google's Advertising
    Principles. They are put in place to provide a positive experience for
    users. For further information, please see Google's
    <a class="fw3 mb-blue no-underline bb dim" href="https://support.google.com/adwordspolicy/answer/1316548?hl=en">advertising policy</a>.
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    We have not enabled Google AdSense on our site, though we may do so in the
    future. We use them to compile data regarding user interactions to sell
    that data to interested parties.
  </p>

  <h3 class="mt4 f5 f4-ns">How does our site handle Do Not Track signals?</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    We honor Do Not Track signals. We do not track, plant cookies, or use
    advertising when a Do Not Track (DNT) browser mechanism is in place.
  </p>

  <h3 class="mt4 f5 f4-ns">Does our site allow third-party behavioral tracking?</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    We do not allow third-party behavioral tracking.
  </p>

  <h3 class="mt4 f5 f4-ns">California Online Privacy Protection Act</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    CalOPPA is the first state law in the nation to require commercial websites
    and online services to post a privacy policy. The law applies beyond
    California, requiring any person or company in the United States (and
    conceivably in the world) that operates websites collecting Personally
    Identifiable Information from California consumers to post a conspicuous
    privacy policy on its website stating exactly what information is being
    collected and with which individuals or companies it is being shared. For
    more information about CalOPPA, use the following link:
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    <a class="fw3 mb-blue no-underline bb dim" href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a>
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    In accordance with CalOPPA, we have provided the preceding information on
    this page about our privacy policies. Furthermore, we agree to the
    following:
  </p>
  <ul class="pl3 pl4-ns f5 f4-ns fw3 lh-copy">
    <li class="mb2">Users can visit our site anonymously.</li>
    <li class="mb2">
      A link to our privacy policy appears on our home page and on each
      significant page after entering our website.
    </li>
    <li class="mb2">
      Our privacy policy link includes the word "privacy" and can easily be
      found on the pages specified above.
    </li>
    <li class="mb2">
      Users will be notified of any privacy policy changes on our privacy
      policy page.
    </li>
    <li class="mb2">
      Users can change their personal information on our site at any time by
      logging in to their accounts and modifying their settings.
    </li>
  </ul>

  <h3 class="mt4 f5 f4-ns">Children Online Privacy Protection Act (COPPA)</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    When it comes to the collection of personal information from children under
    the age of thirteen years old, the Children's Online Privacy Protection Act
    (COPPA) puts parents in control. The Federal Trade Commission, the consumer
    protection agency of the United States, enforces the COPPA Rule, which
    stipulates what operators of websites and online services must do to
    protect children's privacy and safety online.
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    We will never knowingly request personally identifiable information from anyone
    under the age of thirteen without prior verifiable parental consent. If we
    become aware that a site visitor under the age of thirteen has provided
    personal data without prior verifiable parental consent, we will remove his or
    her personally identifiable information from our files. In order to remove your
    child's information please contact the following personnel:
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    We adhere to the following COPPA tenant:
  </p>
  <ul class="pl3 pl4-ns f5 f4-ns fw3 lh-copy">
    <li class="mb2">
      Parents can review, manage, delete, or refuse with whom their child's
      information is shared by contacting us directly.
    </li>
  </ul>

  <h3 class="mt4 f5 f4-ns">Fair Information Practices</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    The principles of the Fair Information Practices form the backbone of
    privacy law in the United States and the concepts they include have played
    a significant role in the development of data protection laws around the
    globe. Understanding and implementing the principles of the Fair
    Information Practice is critical to comply with the various privacy laws
    that protect personal information.
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    In accordance with Fair Information Practices, we will take responsive
    action should a data breach occur. We will notify you via email within
    seven business days of a breach. We will notify the users via in-site
    notification within seven business days of a breach.
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    Also in line with Fair Information Practices, we adhere to the Individual
    Redress Principle, which requires that individuals have the right to
    legally pursue enforceable rights against data collectors and processors
    who fail to adhere to the law. This principle states not only that
    individuals have enforceable rights against data users, but also that
    individuals have recourse to courts and/or government agencies to
    investigate and/or prosecute non-compliance by data processors.
  </p>

  <h3 class="mt4 f5 f4-ns">CAN-SPAM Act</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    The CAN-SPAM Act is a law that sets rules for commercial email, establishes
    requirements for commercial messages, gives recipients the right to stop
    emails from being sent to them, and stipulates tough penalties for
    violations.
  </p>
  <p class="f5 f4-ns fw3 lh-copy">We collect your email address in order to:</p>
  <ul class="pl3 pl4-ns f5 f4-ns fw3 lh-copy">
    <li class="mb2">
      Send information and respond to inquiries and requests.
    </li>
    <li class="mb2">
      Process orders and send information and updates pertaining to orders.
    </li>
    <li class="mb2">
      Send additional information related to our products and/or services.
    </li>
    <li class="mb2">
      Market to our mailing list or continue to send information to our clients
      after the original transaction has occurred.
    </li>
  </ul>
  <p class="f5 f4-ns fw3 lh-copy">
    In accordance with CAN-SPAM, we agree to do the following:
  </p>
  <ul class="pl3 pl4-ns f5 f4-ns fw3 lh-copy">
    <li class="mb2">
      Avoid false or misleading subjects or email addresses.
    </li>
    <li class="mb2">
      Identify any advertising message as an advertisement in some reasonable
      way.
    </li>
    <li class="mb2">
      Include the physical address of our business or site headquarters in our
      emails.
    </li>
    <li class="mb2">
      Monitor third-party email marketing services for compliance, if used.
    </li>
    <li class="mb2">
      Honor opt-out/unsubscribe requests quickly.
    </li>
    <li class="mb2">
      Allow users to unsubscribe by using the link at the bottom of each email.
    </li>
  </ul>
  <p class="f5 f4-ns fw3 lh-copy">
    If at any time you would like to unsubscribe from receiving future emails,
    you can follow the instructions at the bottom of each email to unsubscribe.
    We will promptly remove you from ALL correspondence.
  </p>

  <h3 class="mt4 f5 f4-ns">Contacting Us</h3>
  <p class="f5 f4-ns fw3 lh-copy">
    If there are any questions regarding this privacy policy, or regarding
    changes to account privacy settings, you may contact us using the
    information below.
  </p>
  <p class="f5 f4-ns fw3 lh-copy">
    MathBRIX&trade; LLC<br>
    20 S. Sarah St.<br>
    St. Louis, MO 63108
  </p>

  <p class="mt4 f5 f4-ns fw3 lh-copy">
    Last Edited on 07-27-2018
  </p>

</div>

{{ end }}

{{ define "footer" }}
<!--Footer-->
{{ end }}
