{{ define "main" }}

<div class="w-90-m w-80-l center ph3 ph6-l pv4 mid-gray">

  <h1 class="mt0 f3 f2-ns normal ttu tracked black">Conceptual Learning with MathBRIX</h1>

  <p class="f5 f4-ns fw3 lh-copy">
    For many parents and educators, the shift to conceptual learning in
    mathematics was met with a mix of resistance, confusion, and frustration.
    It didn’t look or feel like math to those of us conditioned to drill,
    memorize, and sequence steps.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    As the saying goes, though, time is the best teacher. Attitudes about this
    "new math" changed after countless teachers began implementing the
    conceptual math method. Seeing the results with their students,
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://news.gallup.com/poll/179048/teachers-feel-worried-frustrated-common-core.aspx">teachers felt encouraged and more positive</a>
    about the approach. Now widely accepted and adopted, conceptual
    math is here to stay as an important component to effective pedagogy.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    A growing number of tech-based tools, including MathBRIX, are available to
    support student competency in math by utilizing the research-based
    conceptual learning approach that leads to higher-level mathematical
    understanding.
  </p>

  <h2 class="mt0 f4 f3-ns">What is Conceptual Math?</h2>

  <p class="f5 f4-ns fw3 lh-copy">
    Conceptual math is a method of math instruction that aims to increase
    literacy in mathematics rather than teach steps to find solutions. Often
    contrasted with procedural math instruction, conceptual math focuses on
    explaining why processes work rather than on how to perform a process.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    A great example to illustrate a conceptual versus procedural approach is with
    subtraction that requires regrouping, or borrowing. If your elementary math
    education concluded before the 2010’s, chances are you
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://study.com/academy/lesson/what-is-regrouping-in-math-definition-subtraction-addition.html">learned how to borrow</a>
    in order to solve some two (or more) digit math problems.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Let’s assume you were presented with the equation 54-29. It is likely that
    your teacher showed you steps to take: cross out the ones digit and change
    it to one less plus a ten (18 in this example) and then change the tens
    digit to one less (4 in this case). It is also likely that the reasoning
    behind that process was not explained or understood.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    With the conceptual learning approach, students would have schema, or prior
    knowledge and experience to draw on, that would help them understand how
    numbers are composed and can be broken apart.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    In our example, 54 can be broken down to (50+4) and 29 can also be seen as
    (20+9). 54-29, therefore, can be expressed as (50+4) - (20+9) and then (40+14)
    - (20+9). This gives context to borrowing and a much deeper understanding of
    mathematics than merely memorizing a sequence of steps.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    It builds mathematical literacy.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Conceptual math understanding is not something that comes later in the
    education of a child, either. It
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://www.mathbrix.com/blog/young-children-should-learn-math/">begins in early childhood</a>
    with the use of manipulatives and visual math, where pictures represent
    numbers, patterns, and equations and young children begin solving problems
    based on those visuals or manipulatives.
  </p>

  <h2 class="mt0 f4 f3-ns">What the Research Says About Conceptual Math</h2>

  <p class="f5 f4-ns fw3 lh-copy">
    Many
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://www2.ed.gov/pubs/triedandtrue/compr.html">national groups have researched the efficacy</a>
    and importance of using conceptual math in the classroom. Reports from the
    National Council of Teachers of Mathematics, the National Science Board,
    and the National Assessment of Educational Progress all conclude the
    following:
  </p>

  <ul class="pl3 pl4-ns f5 f4-ns fw3 lh-copy">
    <li class="mb2">
      The focus of math in school should be problem solving.
    </li>
    <li class="mb2">
      The study of mathematics should emphasize higher order thinking skills,
      deep understanding of concepts, mathematical communication, making
      connections, and applying mathematics to other areas of learning.
    </li>
    <li class="mb2">
      Basic skills in mathematics should go well beyond just computational
      ability and should be integrated to include things like logic,
      numeration, patterns, and relations.
    </li>
    <li class="mb2">
      Mathematics programs should take advantage of available technology.
    </li>
  </ul>

  <h2 class="mt0 f4 f3-ns">The Benefits of Conceptual Learning in Math</h2>

  <p class="f5 f4-ns fw3 lh-copy">
    When students only learn procedures, they often find themselves stuck and
    confused in
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://www.mathbrix.com/blog/early-predictors-math-success/">higher level math courses</a>.
    Conceptual math aims to help students understand why the steps work so that
    they can approach problem solving with a variety of strategies. Further,
    conceptual math provides a means to communicate mathematical ideas, and the
    ability to transfer that working knowledge to higher levels of problem
    solving and to other fields of study, such as science or engineering.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    This is not to say that procedural math is not an important part of the overall
    picture. In fact, it is integral, working together with conceptual learning to
    move a student from concrete to abstract understanding.
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://www.uni-trier.de/fileadmin/fb1/prof/PSY/PAE/Team/Schneider/RittleJohnsonSchneiderInPress.pdf">Mathematical competency relies on both</a>
    conceptual and procedural competency.
  </p>

  <h2 class="mt0 f4 f3-ns">How MathBRIX Uses Conceptual Learning to Teach Math</h2>

  <p class="f5 f4-ns fw3 lh-copy">
    MathBRIX allows students to use visual math and digital manipulatives to
    acquire new skills, problem solve, and practice curriculum. Using a “trunk and
    leaves” approach, students progress from concrete ideas to more abstract ones
    as their conceptual understanding increases.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Levels within MathBRIX are
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://standards.mathbrix.com">aligned</a>
    with Common Core, the National Council of Teachers of Mathematics, and the
    Texas Essential Knowledge and Skills (TEKS) standards and each standard has
    a large variety of corresponding games. This gives students the opportunity
    to practice the same core competency in a multitude of ways, coming up with
    new ways to solve similar problems. This ability to utilize multiple
    approaches to solve a single problem is one of the pillars of conceptual
    learning.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    MathBRIX uses language and visuals derived from the federally-funded
    Comprehensive School Mathematics Program (CSMP) and provides practice with
    newer curricula such as Singapore Math, Engage NY, Math in Focus, and Eureka
    Math, all of which follow the proven method of conceptual math.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    <a class="f5 f4-ns fw3 mb-blue no-underline bb dim" href="https://www.mathbrix.com/blog/effective-technology-use-math-class/">Utilizing technology</a>
    readily available in most modern elementary classrooms, MathBRIX is easy for
    students to use and targeted to individual learning needs. Teachers are well
    informed of progress, time on task, and achievement with MathBRIX’s unmatched
    tracking and reporting dashboard.
  </p>

  <p class="f5 f4-ns fw3 lh-copy">
    Used 15 minutes a day a couple of times a week, MathBRIX is a fun, game-based
    program rooted firmly in conceptual learning that makes an ideal supplement to
    any classroom serving students of all abilities aged 4-8 years old.
  </p>

</div>

{{ end }}
