{{ define "main" }}

<div class="ph6 pv4 mid-gray tc">

  <h2 class="mt0 mb5 f2 normal black">Things You'll Love About MathBRIX</h2>

  <div class="flex flex-wrap">

    <div class="w-33 mb4">
      <div>
        <img src="/levels.png">
      </div>
      <h3 class="mb1 f3">Easy Configuration</h3>
      <p class="w-80 center f4 fw3">Go from start to play in 5 minutes flat</p>
    </div>

    <div class="w-33 mb4">
      <div>
        <img src="/login.png">
      </div>
      <h3 class="mb1 f3">Simple Student Login</h3>
      <p class="w-80 center f4 fw3">Multiple login options to accommodate your workflow</p>
    </div>

    <div class="w-33 mb4">
      <div>
        <img src="/thinking.png">
      </div>
      <h3 class="mb1 f3">Engaging Gameplay</h3>
      <p class="w-80 center f4 fw3">Building block themed games keep your students challenged and entertained</p>
    </div>

    <div class="w-33 mb4">
      <div>
        <img src="/school.png">
      </div>
      <h3 class="mb1 f3">Class Management</h3>
      <p class="w-80 center f4 fw3">Easy rostering and class upkeep</p>
    </div>

    <div class="w-33 mb4">
      <div>
        <img src="/bricks.png">
      </div>
      <h3 class="mb1 f3">70+ Standards-Aligned Games</h3>
      <p class="w-80 center f4 fw3">Content to keep your students busy for the entire year</p>
    </div>

    <div class="w-33 mb4">
      <div>
        <img src="/bars-chart.png">
      </div>
      <h3 class="mb1 f3">Class Reports</h3>
      <p class="w-80 center f4 fw3">See how your class is doing at a glance</p>
    </div>

    <div class="w-33 mb4">
      <div>
        <img src="/research.png">
      </div>
      <h3 class="mb1 f3">Individual Analytics</h3>
      <p class="w-80 center f4 fw3">Drill down and assess each student's performance in detail</p>
    </div>

    <div class="w-33 mb4">
      <div>
        <img src="/open-book.png">
      </div>
      <h3 class="mb1 f3">Standards Database</h3>
      <p class="w-80 center f4 fw3">A reference to all the math concepts relevant to you</p>
    </div>

    <div class="w-33 mb4">
      <div>
        <img src="/phone-receiver.png">
      </div>
      <h3 class="mb1 f3">Responsive Support</h3>
      <p class="w-80 center f4 fw3">Our friendly staff strives to meet your needs</p>
    </div>

  </div>

  <a class="dib mt4 pv4 ph5 bg-mb-blue white br2 f4 fw3 tracked no-underline dim" href="https://teach.mathbrix.com/register">
    Start Your Free Trial
  </a>

</div>

{{ end }}

{{ define "extra-footer" }}

<p class="w-80 center na1 pb3 tc f6 fw3">
  Icons provided by
  <a class="link mb-blue dim" href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>
</p>

{{ end }}
