// https://sass-mq.github.io/sass-mq/
// -----------------------------------------------------------------------------
// To enable support for browsers that do not support @media queries, 
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false 
// Create a separate stylesheet served exclusively to these browsers, 
// meaning @media queries will be rasterized, relying on the cascade itself 
$mq-responsive: true;
 
// Name your breakpoints in a way that creates a ubiquitous language 
// across team members. It will improve communication between 
// stakeholders, designers, developers, and testers. 
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);
 
// Define the breakpoint from the $mq-breakpoints list that should 
// be used as the target width when outputting a static stylesheet 
// (i.e. when $mq-responsive is set to 'false'). 
$mq-static-breakpoint: desktop;
 
// If you want to display the currently active breakpoint in the top 
// right corner of your site during development, add the breakpoints 
// to this list, ordered by width, e.g. (mobile, tablet, desktop). 
$mq-show-breakpoints: (mobile, tablet, desktop, wide);
 
@import '../../../node_modules/sass-mq/mq';

// -----------------------------------------------------------------------------

$page-width: 840px;

$padding: 10px;

// Colours
$mhp-green: #4FC3AE;
$mhp-yellow: #F8D015;

// Typefaces
$base-font-size: 14px;
$base-line-height: 1.2;
$body-font: Arial, Sans-Serif;
