{{ partial "header" . }}

{{ partial "splash-bg" . }}

<section class="py-8 px-4 mt-16 mb-16" id="vision">
    <h2 class="text-3xl text-center leading-tight mb-8 font-heading">{{ .Params.heading }}</h2>
    <p class="mb-6 text-xl text-center text-gray-500">{{ .Params.subheading }}</p>
    <div class="flex flex-wrap -mx-4">
        {{ with .Params.leadership }}
            {{ range .member }}
            {{ partial "content-summary-noparams" . }}
            {{ end }}
        {{ end }}
</div>
</section>

{{ partial "footer" . }}