{{ partial "header" . }}

{{ partial "splash-bg" . }}

<div class="container mx-auto px-4">
<section class="py-8 px-4 pt-16 pb-16" id="leadership">
{{ with .Params.leadership }}
    <h2 class="text-3xl text-center leading-tight mb-8 font-heading">{{ .role }}</h2>
    <p class="mb-6 text-xl text-center text-gray-500">{{ .Params.subheading }}</p>
    <div class="flex flex-wrap -mx-4">
        {{ range .member }}
        {{ partial "content-summary-noparams" . }}
        {{ end }}
{{ end }}
    </div>
</section>

<section class="py-8 px-4 pt-16 pb-16" id="implementation">
{{ with .Params.implementation }}
    <h2 class="text-3xl text-center leading-tight mb-8 font-heading">{{ .role }}</h2>
    <p class="mb-6 text-xl text-center text-gray-500">{{ .Params.subheading }}</p>
    <div class="flex flex-wrap -mx-4">
        {{ range .member }}
        {{ partial "content-summary-noparams" . }}
        {{ end }}
{{ end }}
    </div>
</section>

<section class="py-8 px-4 pt-16 pb-16" id="engineering">
{{ with .Params.engineering }}
    <h2 class="text-3xl text-center leading-tight mb-8 font-heading">{{ .role }}</h2>
    <p class="mb-6 text-xl text-center text-gray-500">{{ .Params.subheading }}</p>
    <div class="flex flex-wrap -mx-4">
        {{ range .member }}
        {{ partial "content-summary-noparams" . }}
        {{ end }}
{{ end }}
    </div>
</section>

<section class="py-8 px-4 pt-16 pb-16" id="advisory">
{{ with .Params.advisory }}
    <h2 class="text-3xl text-center leading-tight mb-8 font-heading">{{ .role }}</h2>
    <p class="mb-6 text-xl text-center text-gray-500">{{ .Params.subheading }}</p>
    <div class="flex flex-wrap -mx-4">
        {{ range .member }}
        {{ partial "content-summary-noparams" . }}
        {{ end }}
{{ end }}
    </div>
</section>
</div>

{{ partial "footer" . }}
