{{ define "main" }}

<div class="ph6 pv4 mid-gray">

  <h2 class="mt0 f2 normal ttu tracked black">The MathBRIX Team</h2>

  <div class="flex">
    <img class="team-pic pa3" src="/bettie-schwartz.jpg">
    <div class="pa3">
      <h3 class="mt0 f3">Dr. Elizabeth Schwartz</h3>
      <p class="f4 fw3 lh-copy">
        Founder, CEO, Content Director, Former Assistant Superintendent.
        Led previous EdTech startup to successful exit.
      </p>
      <a class="f4 fw3 mb-blue no-underline bb dim" href="https://www.linkedin.com/in/bettie-schwartz-752a9b4/">
        LinkedIn
      </a>
    </div>
  </div>

  <div class="flex">
    <img class="team-pic pa3" src="/tyler-schwartz.jpg">
    <div class="pa3">
      <h3 class="mt0 f3">Tyler Schwartz</h3>
      <p class="f4 fw3 lh-copy">
        COO, Marketing, Award-winning Digital Media Producer
      </p>
      <a class="f4 fw3 mb-blue no-underline bb dim" href="https://www.linkedin.com/in/tyler-schwartz-87848298/">
        LinkedIn
      </a>
    </div>
  </div>

  <div class="flex">
    <img class="team-pic pa3" src="/jaydev-mahadevan.jpg">
    <div class="pa3">
      <h3 class="mt0 f3">Jaydev Mahadevan</h3>
      <p class="f4 fw3 lh-copy">
        CTO, Led development teams in Fortune 1000 company and startups
      </p>
      <a class="f4 fw3 mb-blue no-underline bb dim" href="https://www.linkedin.com/in/jaydevmahadevan/">
        LinkedIn
      </a>
    </div>
  </div>

  <div class="flex">
    <img class="team-pic pa3" src="/chris-nicastro.jpg">
    <div class="pa3">
      <h3 class="mt0 f3">Dr. Chris L. Nicastro</h3>
      <p class="f4 fw3 lh-copy">
        Strategic Partnerships, Former MO Commissioner Education, Former Superintendent
      </p>
      <a class="f4 fw3 mb-blue no-underline bb dim" href="https://www.linkedin.com/in/chris-lee-nicastro-6baa1272/">
        LinkedIn
      </a>
    </div>
  </div>

  <div class="flex">
    <img class="team-pic pa3" src="/valri-bieniek.jpg">
    <div class="pa3">
      <h3 class="mt0 f3">Dr. Valri Bieniek</h3>
      <p class="f4 fw3 lh-copy">
        Lead Math Coach, Suburban/Urban Experience, Online Education
      </p>
      <a class="f4 fw3 mb-blue no-underline bb dim" href="https://www.linkedin.com/in/valribieniek/">
        LinkedIn
      </a>
    </div>
  </div>

</div>

{{ end }}
